.page-template-template-adivser .video-deployed {
  z-index: 99999;
}
.page-template-template-adivser .adviser {
  margin-top: 115px;
  margin-bottom: 100px;
}
.page-template-template-adivser .adviser h2 {
  color: #01bce7;
  font-size: 36px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 1.64px;
}
.page-template-template-adivser .adviser h4 {
  color: #4a4a4a;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.82px;
  margin-bottom: 23px;
  font-family: 'National-Regular';
}
.page-template-template-adivser .adviser-quotes p {
  color: #01bce7;
  font-size: 24px!important;
  font-weight: 300;
  letter-spacing: 1.64px!important;
  font-style: italic;
  line-height: 115%!important;
}
.page-template-template-adivser .video {
  background-size: cover;
  background-position: center;
  position: relative;
}
.page-template-template-adivser .video:before {
  content: '';
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  display: block;
}
.page-template-template-adivser .video > div:before {
  content: '';
  background-image: url(/app/themes/BBTFramework/images/play-video.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 106px;
  position: absolute;
  top: 50%;
  margin-top: -53px;
}
.page-template-template-adivser .testimonials {
  min-height: 337px;
  background-image: radial-gradient(circle 265px at 23.94% 389.73%, #48d2f2 0%, #00bce7 100%);
  padding-top: 51px;
}
.page-template-template-adivser .testimonials__icon.vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md {
  background-color: transparent;
  transform: rotate(-180deg);
  border: 1px solid #FFF;
  width: 33px!important;
  height: 33px!important;
  margin: 0 auto;
  border-radius: 100%;
}
.page-template-template-adivser .testimonials__icon.vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon {
  font-size: 14px!important;
}
.page-template-template-adivser .testimonials .vc_pagination {
  margin-top: 0!important;
}
.page-template-template-adivser .testimonials .vc_pagination li a {
  height: 18px!important;
  width: 18px!important;
  line-height: 130%;
  border: 1px solid #FFF;
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  /* Text style for "1" */
  letter-spacing: 0.55px;
}
.page-template-template-adivser .testimonials .vc_pagination li.vc_active a {
  color: #01bce7;
  background-color: #FFF;
}
.page-template-template-adivser .testimonials .adviser-testimonial {
  min-height: 100px;
}
.page-template-template-adivser .testimonials .adviser-testimonial__content,
.page-template-template-adivser .testimonials .adviser-testimonial__content p {
  color: #ffffff;
  font-size: 20px !important;
  font-weight: 300;
  line-height: 25px !important;
  letter-spacing: 0.91px;
  margin-bottom: 22px;
  font-family: 'National-Thin';
}
.page-template-template-adivser .testimonials .adviser-testimonial__author,
.page-template-template-adivser .testimonials .adviser-testimonial__author p {
  color: #ffffff;
  font-size: 13px !important;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.59px;
  font-family: 'National-Regular';
}
.page-template-template-adivser .testimonials .adviser-testimonial__author {
  margin-bottom: 35px !important;
}
.page-template-template-adivser .testimonials .adviser-testimonial__author p:before {
  content: '- ';
}
.page-template-template-adivser .bottom-content {
  margin-top: 80px;
  margin-bottom: 90px;
}
.page-template-template-adivser .bottom-content h3 {
  color: #00bce7;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0.91px;
}
.page-template-template-adivser .bottom-content p {
  letter-spacing: 0.82px;
}
.page-template-template-adivser .win {
  min-height: 316px;
  background-size: cover;
  background-position: center;
}
.page-template-template-adivser .win__container {
  background-color: rgba(1, 188, 231, 0.7);
  margin-top: 59px;
  margin-bottom: 56px;
}
.page-template-template-adivser .win__container > .vc_column-inner > .wpb_wrapper {
  padding: 33px 8.33%;
}
.page-template-template-adivser .win__container h3 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 1.64px;
}
.page-template-template-adivser .win__container--text {
  margin-bottom: 19px;
}
.page-template-template-adivser .win__container--text p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.82px;
}
.page-template-template-adivser .win__container .button-blue a {
  background-color: transparent!important;
  border: 1px solid #FFF!important;
  background-position: 101% -1px;
  background-size: auto 110%;
}
@media (max-width: 768px) {
  .page-template-template-adivser .adviser {
    margin-top: 80px;
  }
  .page-template-template-adivser .testimonials .adviser-testimonial {
    min-height: 300px;
  }
}
