/** fonts **/
@font-face {
    font-family: 'National-Black';
    src: url('/app/themes/BBTFramework/fonts/National-Black.otf');
}

@font-face {
    font-family: 'National-BlackItalic';
    src: url('/app/themes/BBTFramework/fonts/National-BlackItalic.otf');
}

@font-face {
    font-family: 'National-Bold';
    src: url('/app/themes/BBTFramework/fonts/National-Bold.otf');
}

@font-face {
    font-family: 'National-BoldItalic';
    src: url('/app/themes/BBTFramework/fonts/National-BoldItalic.otf');
}

@font-face {
    font-family: 'National-Book';
    src: url('/app/themes/BBTFramework/fonts/National-Book.otf');
}

@font-face {
    font-family: 'National-BookItalic';
    src: url('/app/themes/BBTFramework/fonts/National-BoldItalic.otf');
}

@font-face {
    font-family: 'National-Extrabold';
    src: url('/app/themes/BBTFramework/fonts/National-Extrabold.otf');
}

@font-face {
    font-family: 'National-ExtraboldItalic';
    src: url('/app/themes/BBTFramework/fonts/National-ExtraboldItalic.otf');
}

@font-face {
    font-family: 'National-Light';
    src: url('/app/themes/BBTFramework/fonts/National-Light.otf');
}

@font-face {
    font-family: 'National-LightItalic';
    src: url('/app/themes/BBTFramework/fonts/National-LightItalic.otf');
}

@font-face {
    font-family: 'National-Medium';
    src: url('/app/themes/BBTFramework/fonts/National-Medium.otf');
}

@font-face {
    font-family: 'National-MediumItalic';
    src: url('/app/themes/BBTFramework/fonts/National-MediumItalic.otf');
}

@font-face {
    font-family: 'National-Regular';
    src: url('/app/themes/BBTFramework/fonts/National-Regular.otf');
}

@font-face {
    font-family: 'National-RegularItalic';
    src: url('/app/themes/BBTFramework/fonts/National-RegularItalic.otf');
}

@font-face {
    font-family: 'National-Semibold';
    src: url('/app/themes/BBTFramework/fonts/National-Semibold.otf');
}

@font-face {
    font-family: 'National-SemiboldItalic';
    src: url('/app/themes/BBTFramework/fonts/National-SemiboldItalic.otff');
}

@font-face {
    font-family: 'National-Thin';
    src: url('/app/themes/BBTFramework/fonts/National-Thin.otf');
}
@font-face {
    font-family: 'National-ThinItalic';
    src: url('/app/themes/BBTFramework/fonts/National-ThinItalic.otf');
}



h2{
    color: #006bc0;
    font-family: 'National-Regular';
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1.14px;
    line-height: 25px !important;
    margin-bottom: 24px !important;
}


h3{
    color: #00bce7;
    font-family: 'National-Thin';
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.91px;
    line-height: 25px !important;
    margin-bottom: 24px !important;  
}

h4{
    color: #00bce7;
    font-family: 'National-Regular';
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.91px;
    line-height: 25px;   
}

h6{
    color: #00bce7;
    font-family: 'National-Regular';
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.55px; 
}

.vc_row{
    margin-left: 0px;
    margin-right: 0px;
}
.vc_column_container>.vc_column-inner {
    padding-left: 0px;
    padding-right: 0px;
}

#content{
    padding-bottom: 0px;   
}


.col-full, #wrapper {
    max-width: 100%;
    padding: 0px;
}

.haven-container{
    max-width: 1200px;    
    margin: auto;
}

.haven-container-inner{
    max-width: 946px;
    margin: auto;
}

#header{
    background-color: rgba(255, 255, 255, 0.1); 
    min-height: 33px;
    padding-top: 20px;
    padding-bottom: 27px;
    z-index: 100;
}

.entry img, img.thumbnail, #portfolio .group.portfolio-img img {
    border: 0px;
    background: transparent;
    padding: 0px;
}

/** navigation **/
#navigation { 
    float: right !important; 
    width: auto !important; 
    clear:none; 
    background: transparent;
    margin: 0px;
}

#navigation ul > li,
#navigation ul > li.current-menu-ancestor,
#navigation ul > li.current-menu-parent,
#navigation ul > li.current_page_parent,
#navigation ul > li.current_page_ancestor,
#navigation ul > li:hover,
#navigation ul{
    background: none !important;
    border: 0px;
}

#navigation ul > li a,
#navigation ul > li.current-menu-ancestor a,
#navigation ul > li.current-menu-parent a,
#navigation ul > li.current_page_parent a,
#navigation ul > li.current_page_ancestor a,
#navigation ul > li a:hover{
    color: #ffffff !important;
    font-family: 'National-Regular';
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.6px;
    text-transform: uppercase; 
    background: none !important;
    border: 0px;
    text-decoration: none;
    padding: 12px 16px 6px 16px !important;
}

.top-container {
    margin-top: -83px;
    min-height: 382px;
    width: 100%;
    padding-top: 83px;
}



.top-container-inner{
    margin: auto;
    text-align: center;
    padding-top:38px;
}

.top-container-title img{
    display: inline;
    vertical-align: inherit;
    margin-right: 27px;
}

.top-container-title p{
    display: inline;   
}

.top-container h1{
    display: inline;
    color: #ffffff;
    font-family: 'National-Regular';
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.top-container-title{
    margin-bottom: 28px; 
}

.top-container h2{
    color: #ffffff;
    font-family: 'National-Light';
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.91px;
    line-height: 25px;   
    max-width: 383px; 
    margin: auto;
    text-align: center;
    margin-bottom: 27px;
}

.top-container-text p{
    color: #ffffff !important;
    font-family: 'National-Light';
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.59px;   
    max-width: 561px;
    margin: auto;
    text-align: center;
    margin-bottom: 33px;
}

.top-container hr{
    background-color: #fff;
    width: 106px;
    height: 1px;  
}

.play-video{
    text-align: center;   
}

.play-video img{
    display: inline;   
    vertical-align: middle;
    margin-right: 11px;
}

.play-video p{
    display: inline; 
    color: #ffffff !important;
    font-family: 'National-Thin';
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.59px;   
}

h1.title.entry-title{
    display: none;   
}

.top-container-menu{
    margin-top: 20px;   
    margin-bottom: 19px;
}

.top-container-menu ul{
    text-align: center;
}

.top-container-menu li {
    display: inline;
    padding-left: 24px;
    padding-right: 24px;
}

.top-container-menu li a,
.top-container-menu li a:hover{
    text-align: center;
    color: #ffffff;
    font-family: 'National-Regular';
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    text-decoration: none;
}

.top-container-menu .wpb_text_column.wpb_content_element{
    margin-bottom: 0px;   
}

.what-ks h3, .what-ks p{
    max-width: 558px;   
}

.haven-container-inner p,
.haven-container p,
.entry p{
    color: #4a4a4a;
    font-family: 'National-Thin';
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.64px;  
}

.button-blue a{
    color: #ffffff !important;
    font-family: 'National-Regular';
    font-size: 14px !important;
    font-weight: 300 !important;
    letter-spacing: 0.59px !important;  
    padding: 7px 40px 8px 8px !important;
    border: 1px solid #00bce7 !important;
    background-color: #00bce7 !important;
    border-radius: 0px !important;
    background-image: url(/app/uploads/2017/08/button-arrow.png) !important;
    background-repeat: no-repeat !important;
    background-position: 100%;
    text-decoration: none;
}

.button-white a{
    color: #00bce7 !important;
    font-family: 'National-Regular';
    font-size: 14px !important;
    font-weight: 300 !important;
    letter-spacing: 0.59px !important;  
    padding: 7px 40px 8px 8px !important;
    border: 1px solid #fff !important;
    background-color: #fff !important;
    border-radius: 0px !important;
    background-image: url(/app/uploads/2017/08/button-arrow-white.png) !important;
    background-repeat: no-repeat !important;
    background-position: 100%;
    text-decoration: none;
}

.button-white-black a{
    color: #4a4a4a !important;
    font-family: 'National-Regular';
    font-size: 14px !important;
    font-weight: 300 !important;
    letter-spacing: 0.59px !important;  
    padding: 7px 40px 8px 8px !important;
    border: 1px solid #00bce7 !important;
    background-color: transparent !important;
    border-radius: 0px !important;
    background-image: url(/app/uploads/2017/08/button-arrow-blue.png) !important;
    background-repeat: no-repeat !important;
    background-position: 100%;  
    text-decoration: none;
}

.free-meeting{
    text-align: center;   
}

.free-meeting p{
    color: #ffffff;
    font-family: 'National-Regular';
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.6px;
    text-transform: uppercase;   
    top: 1px;
    position: relative;
    right: 25px;
}

.free-meeting-inner, .free-meeting-inner .wpb_wrapper, .free-meeting-inner p{
    display: inline;   
}

.what-ks h2{
    margin-bottom: 40px !important;   
}

.benefits-text p{
    max-width: 195px;
    margin: auto;
}

.benefits-questions img{
    max-width: 40px;  
    margin-right: 25px;
}


.benefits-questions .wpb_content_element {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 0px;
    margin-left: 16%;
    margin-right: 12%;
}

.benefits-questions a, .benefits-questions a:hover{
    text-decoration: none;
    color: #4a4a4a;
}


.benefits-questions p{
    background-image: url(/app/uploads/2017/08/arrow-benefits.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    cursor: pointer;
}

.ks-unsure ul{
    margin-left: 0px;
    padding-left: 0px;
}
.ks-unsure .vc_col-sm-4{
    padding-left: 8px;
    padding-right: 8px;
}

.ks-unsure ul li{
    list-style: none; 
    color: #4a4a4a;
    font-family: 'National-Regular';
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.55px;
    margin-top: 10px;
    background-image: url(/app/uploads/2017/08/arrow-benefits.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    cursor: pointer;
}

.ks-unsure a, .ks-unsure a:hover{
     color: #4a4a4a;
     text-decoration: none;
     display: block;
}

.footer-newsletter{
    text-align: center !important;   
}


.footer-newsletter .gfield_label{
    display: none !important;   
}

.footer-newsletter .gform_heading,
.footer-newsletter .gform_body,
.footer-newsletter .gform_footer,
.footer-newsletter .gform_description,
.footer-newsletter .ginput_container,
.footer-newsletter li.gfield,
.footer-newsletter ul.gform_fields{
    display: inline !important;   
}

.footer-newsletter input {
    max-width: 177px;
}

.footer-newsletter_wrapper{
    background-color: #2d2d2d;
    padding-top: 23px;
    padding-bottom: 25px;
    max-width: 1136px !important;
    margin: auto !important;
    border-bottom: 1px solid #5f5f5f;
}

#footer{
    border: 0px;
    background-color: #2d2d2d;
    padding-top:26px;
}

.footer-newsletter .gform_description{
    color: #ffffff;
    font-family: 'National-Regular';
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-right: 13px;
}

.footer-newsletter .top_label input{
    color: #ffffff;
    font-family: 'National-Regular' !important;
    font-size: 14px !important;
    font-weight: 300;
    letter-spacing: 0.59px !important;
    border: 1px solid #fff;
    border-radius: 0px;
    background: transparent; 
    padding: 7.5px !important;
    line-height: 15px;
    margin-bottom: 0px;
}

.footer-newsletter ul.gform_fields li.gfield{
    padding-right: 5px !important;   
}

.footer-newsletter .gform_footer input[type=submit] {
    background-color: #00bce7;
    border: 1px solid #00bce7;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.footer-newsletter input::-webkit-input-placeholder{
    color: #ffffff !important;
    font-family: 'National-Thin' !important;
    font-size: 14px !important;
    font-weight: 300;
    letter-spacing: 0.59px !important;
}


.footer-newsletter input::-moz-placeholder{
    color: #ffffff !important;
    font-family: 'National-Thin' !important;
    font-size: 14px !important;
    font-weight: 300;
    letter-spacing: 0.59px !important;
}


.footer-newsletter input:-ms-input-placeholder{
    color: #ffffff !important;
    font-family: 'National-Thin' !important;
    font-size: 14px !important;
    font-weight: 300;
    letter-spacing: 0.59px !important;
}


.footer-newsletter input:-moz-placeholder{
    color: #ffffff !important;
    font-family: 'National-Thin' !important;
    font-size: 14px !important;
    font-weight: 300;
    letter-spacing: 0.59px !important;
}

.footer-newsletter-inner {
    max-width: 100%;
    background: #2d2d2d;
}

.footer-inner {
    max-width: 1337px;
    margin: auto;
    text-align: center;
}

#footer ul.sub-menu {
    display: none;
}

#footer ul li{
    display: inline;
    padding: 16px;
}

#footer ul li a,
#footer ul li a:hover{
    color: #d3d3d3;
    font-family: 'National-Regular';
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.45px;
    text-transform: uppercase;   
    text-decoration: none;
}

.footer-logo {
    margin-bottom: 24px;
}

#footer .col-left {
    max-width: 1136px;
    margin: auto;
    float: none;
    margin-top: 24px;
    padding-bottom: 8px;
    border-bottom: 1px solid #5f5f5f;
}

#footer .col-left a,
#footer .col-left a:hover{
    color: #ffffff;
    font-family: 'National-Thin';
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.59px;   
    text-decoration: none;
}

#footer .col-right{
    max-width: 1136px;
    margin: auto;
    float: none;
    text-align: right;
}

#footer .col-right p{
    color: #ffffff;
    font-family: 'National-Thin';
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.59px;  
}


.haven-breadcrumbs-inner {
    max-width: 1200px;
    margin: auto;
    padding-top: 14px;
    padding-bottom: 14px;
}

.haven-breadcrumbs a,
.haven-breadcrumbs a:hover,
.haven-breadcrumbs .breadcrumb_last{
    color: #9b9b9b;
    font-family: 'National-Thin';
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-decoration: none;
}

.haven-breadcrumbs .breadcrumb_last{
    color: #39393a;
}

span.divider img{
    width: 7px;   
}

span.divider {
    top: -6px;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}


.haven-page-nav ul li{
    display: inline;   
    padding-left: 20px;
    padding-right: 20px;
}

.haven-page-nav ul li a{
    color: #39393a;
    font-family: 'National-Regular';
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.55px;
    text-decoration: none;
}

.haven-page-nav {
    text-align: center;
    -webkit-box-shadow: 0px 3px 20px -1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 20px -1px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 20px -1px rgba(0,0,0,0.1);
    padding-bottom: 10px;
    padding-top: 20px;
    margin-bottom: 49px;
}

.haven-page-nav .current-menu-item a,
.haven-page-nav ul li a:hover{
    color: #00bce7;    
}

.right-plan-top p{
    margin: auto;
    color: #2d2d2d;
    font-family: 'National-Regular';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.59px;
}

.haven-container-a{
    max-width: 760px;
    margin: auto;
}

.request-free-meeting{
    text-align: center;
    background: #00bce7;
    padding-top: 25px;
    padding-bottom: 25px;   
}

.tools-guides h2, .tools-guides p{
    text-align: center;   
}

.tools-guides {
    margin-bottom: 63px;
    margin-top: 63px;
}

.tools-guides hr{
      border-top: 1px solid #9b9b9b;
      background-color: transparent;
      margin-bottom: 35px;
}

.ks-unsure {
    margin-top: 43px;
}

.other-services {
    text-align: center;
    background-color: #f6f6f6;
    padding-top: 65px;
    padding-bottom: 65px;
}

.other-services h2{
    text-align: center; 
    margin-bottom: 65px !important;
}

.other-services img{
    margin-bottom: 28px;   
}

.other-services h4{
    margin-bottom: 20px;   
}

.other-services p{
    margin-bottom: 23px;   
}

.other-services .button-white-black{
        height: auto;
    margin-top: 40px;   
}

.ks-conditions p{
    max-width: 192px;
    margin: auto;
}

.ks-homestart p{
    max-width: 419px;
    margin-left: 0px;
}

.ks-blue-arrow{
    max-width: 1200px;
    margin: auto;
}

.ks-blue-arrow .vc_icon_element-inner{    
    width: 100% !important;
    height: auto !important;
    border: 0px !important;
}

.plan-retirement p{
    max-width: 369px;   
}

.ks-impact{
    max-width: 500px;
    margin: auto;
}


.ks-slider h6{
    text-transform: uppercase;   
}

.bx-wrapper .bx-viewport {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

p.symbol{
    color: #c8c8c8;
    font-family: 'National-Regular';
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.73px;
}

p.plus{
    position: absolute;
    top: 5px;
    right: -5px;
}


.ks-first-slide-icons {
    position: relative;
    left: -38px;
}

.ks-slide-text {
    max-width: 313px;
}

.ks-slider .bx-wrapper .bx-pager {
    font-size: 12px;
    position: initial;
    text-align: left;
}

.ks-slider .bx-wrapper .bx-pager.bx-default-pager a {
    width: 22px;
    height: 21px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    text-indent: 0;
    background: #9b9b9b;
    border-radius: 50%;
    color: #fff;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.ks-slider .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    text-decoration: none;
    background: #fff;
    color: #00bce7;
}
.ks-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #fff;
    color: #00bce7;
}

.ks-slider .bx-controls {
    position: absolute;
    bottom: 100px;
}

.ks-slider .bx-wrapper .bx-pager .bx-pager-item{
    text-align: center;   
}

.ks-slider .bx-wrapper{
    margin-bottom: 0px;   
}

.ks-slider .bx-prev, .ks-slider .bx-next{
    display: none;   
}


.right-fund-type {
    padding-top: 52px;
    padding-bottom: 12px;
}

.read-assumptions p{
    color: #4a4a4a;
    font-family: 'National-Regular';
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.55px;   
    margin-bottom: 6px;
    padding-top: 50px;
}

.read-assumptions > p{
    cursor: pointer;
}

.assumptions{
    display: none;
}

.assumptions p{
    color: #4a4a4a;
    font-family: 'National-Thin';
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0.55px;
    text-align: justify;
    padding-top:5px;
}

.read-assumptions hr{
    margin-bottom: 14px;   
}

.placeholder-image{
    background: #c1c1c1;   
}

.right-plan-num {
    float: left;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    color: #00bce7;
    margin-right: 25px;
    margin-bottom: 30px;
}

.right-plan-know {
    max-width: 460px;
    margin: auto;
}


.right-plan-know p{;
    color: #4a4a4a;
    font-family: 'National-Regular';
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.73px;
    max-width: 285px;
}

.right-plan-yn {
    color: #00bce7;
    font-family: 'National-Regular';
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.73px;
    display: inline;
    padding: 6px 18px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    margin-right: 9px;
    cursor: pointer;
    background-color: transparent;
    position: relative;
    top: -3px;
}

.choose-me{
    background-color: #00bce7;
    color: #fff;
}

.unchoose-me{
    backgound-color: transparent;
    color: #dcdcdc;   
}

.play-video img {
    position: relative;
    top: -2px;
}











