.apply { background: #006bc0; }
.apply a { color: #fff; }
.page-book-a-meeting .content { padding-top: 0 !important }
.page-book-a-meeting .header-wrap, .page-book-a-meeting #mobile_header { display: none !important }

.prezzy .banner-promise h2 { 
	/* Style for "Haven $100" */
	color: #ffffff;
	/*font-size: 40px;*/
	font-size: 4rem;
	font-weight: 300;
	font-family: "National-Light" !important;
	line-height: 3.5rem !important;
	text-align: center;
	/* Text style for "Haven $100" */
	letter-spacing: 1.82px;
}

.prezzy .banner-promise p {
	/* Style for "Haven Advi" */
	padding: 0 150px 0;
	color: #ffffff;
	font-family: "National-Thin" !important;
	font-size: 1.5rem !important;
	font-weight: 300 !important;
	line-height: 2.2rem  !important;
	text-align: center;
	/* Text style for "Haven Advi" */
	letter-spacing: 0.91px;
}

.prezzy .gfield_contains_required .ginput_container {
	position: relative;
}
.prezzy .gfield_contains_required .ginput_container::after {
	content: "*";
	position: absolute;
	right: 10px;
    top: 45%;
    font-size: 1.6rem;
    color: white;
}

.prezzy .gform_title {
	/* Style for "Book a mee" */
	color: #ffffff;
	font-size: 2rem !important;
	font-weight: 300 !important;
	line-height: 25px !important;
	/* Text style for "Book a mee" */
	letter-spacing: 1.14px;
}

.prezzy .ginput_container_text {
	/* Style for "My last na" */
	color: #ffffff;
	font-family: "National-LightItalic" !important;
	font-size: 14px;
	font-weight: 300;
	/* Text style for "My last na" */
	letter-spacing: 0.64px;
}

.prezzy .gfield_html {
	/* Style for "* Compulso" */
	color: #ffffff;
	font-family: "National-LightItalic" !important;
	font-size: 12px;
	font-weight: 300;
	/* Text style for "* Compulso" */
	letter-spacing: 0.55px;
}

.how-it-works .vc_col-sm-6 .vc_column-inner  {
	padding: 0 135px !important;
}
.how-it-works .vc_btn3 {
	color: #ffffff !important;
	background: url('images/Combined_Shape.png') no-repeat 262px 1.5px #00bce7 !important;
	background-size: contain;
    font-family: "National-Book" !important;
    font-size: 1.2rem !important;
    font-weight: 300 !important;
    letter-spacing: 0.73px;
    width: 330px !important;
    text-align: left !important;
}
.how-it-works .vc_btn3:hover {
	/*background-color: #4cbde7 !important;
    border: 1px solid #fff !important;*/
        background-color: #006bc0 !important;
}

.how-it-works h2 {
	/* Style for "How it wor" */
	color: #006bc0;
	font-size: 2.2rem !important;
	font-weight: 300 !important;
	line-height: 1.1 !important;
	/* Text style for "How it wor" */
	letter-spacing: 1.14px;
}
.how-it-works p {
	/* Style for "Book a rev" */
	color: #4a4a4a;
	font-size: 14px;
	font-weight: 300;
	/* Text style for "Book a rev" */
	letter-spacing: 0.64px;
}

.prezzy .gform_wrapper input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
	border-bottom: 1px solid white;
	font-family: "National-Light" !important;
	font-size: 1.2rem !important;
    color: white !important;
}
.prezzy .gform_wrapper select  {
	background: #00bce7 !important;
	border-bottom: 1px solid white;
	font-family: "National-LightItalic" !important;
	font-size: 1.2rem !important;
    color: white !important;
	padding: 1px 3px !important;
}
.prezzy .gform_wrapper ::placeholder {
    color:white;
	font-family: "National-LightItalic" !important;
    opacity: 1; /* Firefox */
}

.prezzy .gform_wrapper :-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-family: "National-LightItalic" !important;
   color:white;
}

.prezzy .gform_wrapper ::-ms-input-placeholder { /* Microsoft Edge */   
	font-family: "National-LightItalic" !important;
	color:white;
}

.prezzy .gform_wrapper .gfield_label { display: none !important; }

.prezzy .gform_wrapper .gfield_html.gfield_no_follows_desc {
	/* Style for "* Compulso" */
	color: #ffffff !important;
	font-family: "National-Light" !important;
	font-size: 1rem !important;
	font-weight: 300 !important;
	/* Text style for "* Compulso" */
	letter-spacing: 0.55px;
}

.prezzy .wpb_raw_html a {
	font-family: "National-LightItalic" !important;
	color: white !important;
	font-size: 1.2rem !important;
}
.prezzy .wpb_raw_html .wpb_wrapper {	
    border-bottom: 1px solid white;
    padding: 5px 0;
    width: 100%;
}

.prezzy .terms-body {
	display: none;
}

.prezzy .terms-body ul li {
	color: white;
    font-family: 'National-Light' !important;
    margin-left: 20px;
    padding: 10px;
}

.banner-promise .wpb_wrapper {
}
.banner-promise.show-terms .wpb_wrapper {
}
.terms-body.show-terms-body {
	display: block !important;
}
.add-top-padding { 
	padding-top: 150px;
}

@keyframes fadeIn {
	from {
		opacity: 0.5;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}


@keyframes fadeOut {
	from {
		opacity: 1;
		transform: translate3d(0, -5%, 0);
		
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
.prezzy .gform_wrapper { position: relative; }
.prezzy .gform_footer {
    text-align: right;
    margin-top: -45px !important;
}
.prezzy .gform_wrapper .gform_footer input.button {
	background: url(images/button-arrow-blue2.png) no-repeat top right white;
    background-size: contain;
    color: #00bce7 !important;
    font-weight: bold;
    border-radius: 0;
    text-align: left;
    width: 90px !important;
}

.prezzy .gform_wrapper .gform_footer input.button:hover {
	background: url(images/button-arrow-blue2.png) no-repeat top right #00BCE7 !important;
    background-size: contain !important;
    border: 1px solid #fff !important;
    color: white !important;
}
.prezzy #terms i {
	float: right;
}
.prezzy .gform_wrapper.gform_validation_error .top_label li.gfield.gfield_error.gf_left_half, .prezzy .gform_wrapper.gform_validation_error .top_label li.gfield.gfield_error.gf_right_half {
	background: transparent !important;
	border:0 !important;
	margin-top: 0 !important;
}

.prezzy .gform_confirmation_message  {
	color: white;
    font-size: 20px;
    padding-top: 23%;
    padding-bottom: 20px;
}

select {
  -webkit-appearance: none !important;
  -webkit-border-radius: 0px !important;
}

@media only screen and ( max-width: 1600px ) {
	.prezzy .banner-promise p { padding: 20px !important }
	.how-it-works .vc_col-sm-6 .vc_column-inner {
		padding: 0 5% !important
	}
}

@media only screen and ( max-width: 1200px ) {
	.prezzy .banner-promise p { padding: 0 !important }
	.prezzy .gform_wrapper .top_label li.gfield.gf_left_half, 
	.prezzy .gform_wrapper .top_label li.gfield.gf_right_half {
		width: 100% !important;
	}
	.how-it-works h2, .how-it-works p { text-align: left !important }
	.how-it-works .vc_col-sm-3 { display: none; }
	.how-it-works .vc_col-sm-6 { width: 100% !important }

	.prezzy .banner-promise .vc_column-inner { padding: 20px !important; }
	.prezzy .banner-promise h2 {
	    font-size: 2.5rem !important;
    	line-height: 2.5rem !important;
    }
    .prezzy .wpb_single_image .vc_figure { max-width: 70% !important }
    .prezzy .book-form .vc_column-inner { padding: 20px !important }
    .how-it-works .vc_col-sm-6 .vc_column-inner { padding: 20px !important }
    .prezzy .gform_confirmation_message { padding-top: 0 !important; text-align: center; line-height: 30px; }
}

@media only screen and ( max-width: 800px ) {
	.how-it-works .vc_empty_space { height: 20px !important; }
}