/* mortgage form */
.gform_wrapper .frm-application .gsection_title{
  color: #00bce7;
  font-size: 40px;
  font-weight: 300;
  line-height: 40px !important;
  letter-spacing: 1.82px; 
  border: none;
  margin: 62px auto 0!important;
  text-align: center;
}
.gform_wrapper .frm-application .gfield{
  margin: 0 !important;
}
.gform_wrapper .frm-application .gfield.gsection.field_sublabel_below{
  margin-bottom: 45px !important;
}

.gform_wrapper .frm-application .ginput_container_name{
      margin-top: 14px !important;
}

.gform_wrapper .frm-application li.nobotspc{
  margin-bottom: 25px!important
}
.selectapplied > label:after{
  content: 'Select all that apply';
  color: #393939;
  font-family: "National-Medium";
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.55px;
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
}

.gform_wrapper .frm-application .gfield.two-field-required .ginput_container span{
  position: relative;
}
.gform_wrapper .frm-application .gfield.two-field-required .ginput_container span:after{
  content: '*';
  display: inline-block;
  width: 6px; height: 19px;
  color: #2d2d2d;
  font-family: 'National-LightItalic'; font-size: 14px; font-weight: 300;
  letter-spacing: 0.64px;
  position: absolute;
  right: 21px; top: 8px;
}
.gform_wrapper .frm-application .gfield.field-required .ginput_container{
  position: relative;
}
.gform_wrapper .frm-application .gfield.field-required .ginput_container:after{
  content: '*';
  display: inline-block;
  width: 6px; height: 19px;
  color: #2d2d2d;
  font-family: 'National-LightItalic'; font-size: 14px; font-weight: 300;
  letter-spacing: 0.64px;
  position: absolute;
  right: 5px; top: 8px;
}
.gform_wrapper .frm-application .gfield.field-italic select {
  font-style: italic; color: #2d2d2d;
}

/*.gform_wrapper .frm-application input[type=text]+label,*/
.gform_wrapper .frm-application .gfield.first-label label:first-child{
  display: block !important;
}
.gform_wrapper .frm-application .gfield .gfield_label .gfield_required{
  display: none;
}

.gform_wrapper .frm-application .gfield.sm-label>.gfield_label{
  /* Style for "Household" */
  color: #4a4a4a;
  font-family: "National-Light"; font-size: 18px !important; font-weight: 300;
  border: none;
  margin-bottom: 0; padding-bottom: 0;  
  line-height: 16px;
}
.gform_wrapper .frm-application .gfield.sm-label.same-h>.gfield_label{
      height: 30px;
}
.gform_wrapper .frm-application .gfield.field_looking_for{ margin-top: 0!important; }
.gform_wrapper .frm-application .gfield.field_address .gfield_label{ 
  color: #393939;
  font-family: "National-Regular";
  font-size: 18px !important;
  font-weight: 500;
  text-transform: uppercase;  
  letter-spacing: 0.55px;
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 0;  
  border: none;
}

.gform_wrapper .frm-application .gfield_label.gfield_label_before_complex{
  display: block !important;
}
.gform_wrapper .frm-application .ginput_container.ginput_container_radio{
  margin-top: 22px;
}
.gform_wrapper .frm-application .ginput_container.ginput_container_radio li{
  display: inline;
  margin-right: 10px;
}
.gform_wrapper .frm-application .ginput_container.ginput_container_radio li label{
  padding-left: 33px;
  min-width: 170px;
  color: #4a4a4a;
  font-family: "National-Light"; font-size: 18px; font-weight: 300;
  /* Text style for "Build a ne" */
  letter-spacing: 0.64px;

}
.gform_wrapper .frm-application ul.gfield_radio li input[type="radio"]:checked+label, 
.gform_wrapper .frm-application ul.gfield_checkbox li input[type="checkbox"]:checked+label, 
.gform_wrapper .frm-application .gchoice_select_all{
  font-weight: 300;  
}
/*.gform_wrapper .frm-application .ginput_container.ginput_container_radio li label{
  min-width: 90px;
}*/

.gform_wrapper .frm-application .ginput_container.ginput_container_radio li label strong{
  /*color: #9b9b9b;*/
  display: block;
}

.gform_wrapper .frm-application input[type="checkbox"] + label {
  cursor: pointer;
  padding-left: 35px!important;
  color: #4a4a4a;
  font-family: "National-Light";
  font-size: 18px;
  font-weight: 300!important;
  /* Text style for "Commercial" */
  letter-spacing: 0.64px;  
}

.gform_wrapper .frm-application .button.gform_next_button,
.gform_wrapper .frm-application .button.gform_button{
  /*background-image: url(/app/uploads/2018/09/form-next.png) !important;*/
  background-image: url(../images/button-blue.png) !important; background-repeat: no-repeat !important; background-position: 100%;  background-size: contain;
  font-family: "National-Medium" !important; font-weight: 300;  
  float: right;
  margin: 0 !important;
    padding: 3px 55px 3px 22px !important;
    font-size: 18px !important; color: #4a4a4a !important;
  transition: all .2s ease-in-out;
}
.gform_wrapper .frm-application .button.gform_next_button:hover,
.gform_wrapper .frm-application .button.gform_button:hover,
.gform_wrapper .frm-application input[type=submit].button.gform_button{
  background-image: url(../images/button-blue-over.png) !important; background-repeat: no-repeat !important; background-position: 100%;  background-size: contain;
  background-color: #00bce7 !important; border: 1px solid #00bce7 ;
  color: #fff !important;
  margin: 0 !important;
}
.gform_wrapper .frm-application input[type=submit].button.gform_button{
  text-transform: uppercase; 
}
.gform_wrapper .frm-application input[type=submit].button.gform_button:hover{
  background-color: #006bc0 !important; border: 1px solid #006bc0 ;
}

.gform_wrapper .frm-application .button.gform_previous_button{
    /*background-image: url(/app/uploads/2018/09/form-prev.png) !important;*/
    background-image: url(../images/button-blue-left.png) !important; background-repeat: no-repeat !important; background-position: 100%;  background-size: contain;
    background-position: left center;
    font-family: "National-Medium" !important; font-weight: 300;  
    margin: 0;
    padding: 3px 22px 3px 55px !important;
    font-size: 18px !important; color: #4a4a4a !important;
  transition: all .2s ease-in-out;
}  
.gform_wrapper .frm-application .button.gform_previous_button:hover{ 
  background-image: url(../images/button-blue-left-over.png) !important; background-repeat: no-repeat !important; background-position: 100%;  background-size: contain;
  background-position: left center;
  background-color: #00bce7 !important; border: 1px solid #00bce7 ;
  color: #fff !important;
}    
.gform_anchor_slide_before_banner {
  margin: 0; padding: 0;
  display: inline;
  height: 0px;  
}
/* add to header <a id="gf_11" class="gform_anchor_before_banner"></a> */
/* mortgage form END */

/* mortgage-ty-page  */

/* mortgage-ty-page END */

.page-application-form #mobile_header h3 {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
div.gf_page_steps.scrolling {
    position: fixed;
    top: 74px;
    background: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
    z-index: 9;
}
.gf_page_steps .gf_step_label {
	font-family: "National-Medium"
}
.gf_page_steps .gf_step_previous .gf_step_label,
.gf_page_steps .gf_step_completed .gf_step_label
{
	color:#00bce7;

}
.fixed-footer {
	position: static !important;
}
.page-application-form #mobile_header .cd-dropdown-trigger::after {
    color: #00bce7;
    background: transparent;
}
.page-application-form .gfield_checkbox li label:before {
	border-radius: 0;
    content: '';
    display: block;
    width: 6px;
    height: 11px;
    border: solid #FFF;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    z-index: 1;
    background: none;
    box-shadow: none;
    left: 8px;
    top: 4px;
}
.gform_wrapper .frm-application input[type="checkbox"] {
	height: inherit !important;
}
.gform_wrapper .frm-application .col3-selection li {
    overflow: visible;
}
.page-application-form .gform_wrapper .frm-application .gfield_checkbox li [type="checkbox"]+label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px !important;
    height: 22px !important;
    border: 1px solid #ddd;
    border-radius: 2px !important;
    background: #fff;
    box-shadow: none !important;
}
.page-application-form .gform_wrapper .frm-application .gfield_checkbox li [type="checkbox"]:checked+label:after {
    border: none !important;
}

.page-application-form .gform_wrapper .frm-application .gfield_checkbox li label:before {
    border-width: 0 2px 2px 0 !important;
    left: 8px !important;
    top: 4px !important;
}



.gform_wrapper .frm-application.s1_p6 .ginput_container.ginput_container_radio li label{
   color: #9b9b9b  !important;
}
.gform_wrapper .frm-application.s1_p6 .ginput_container.ginput_container_radio li label div{
  color: #4a4a4a !important;
}
.gform_wrapper .frm-application .ginput_container.ginput_container_radio   ul{
  display: flex;
}
.gform_wrapper .frm-application .ginput_container.ginput_container_radio li{
  margin-right: 10px;
  flex-grow: 1;
  flex-basis: 0;
  min-height: 25px
}
.gform_wrapper .frm-application .check-yes .ginput_container.ginput_container_radio ul{
  display: block;
}
.gform_wrapper .frm-application .check-yes .ginput_container.ginput_container_radio li label{
  min-width: 80px;
}

.gfield.pricefield{
  position: relative;
}
.gfield.pricefield .ginput_container:before {
  content: '$';
  color: #2d2d2d;
  font-size: 18px !important;
  font-weight: 300;
  letter-spacing: 0.64px !important;
  border-bottom: 1px solid #dcdcdc;
  padding: 0 0 3px 5px;
  position: absolute;
  bottom: 0px;
}
.gfield.pricefield .ginput_container input{
  padding: 5px 4px 5px 20px!important
}


@media screen and (max-width: 640px){
  .gform_wrapper .frm-application .gfield.two-field-required .ginput_container span:after{
    right: 5px;
  }
  .gform_wrapper .frm-application .gform_page_footer{
    display: inline-grid;
  }
  .gform_wrapper .frm-application .gform_page_footer input.button.gform_previous_button{ order: 2; margin-top: 8px !important;  }
  .gform_wrapper .frm-application .gform_page_footer input.button.gform_next_button{ order: 1;   }
}

@media screen and (max-width: 992px){
	div.gf_page_steps.scrolling {
	    top: 112px;
	}
}
@media screen and (max-width: 783px){
  .logged-in.admin-bar div.gf_page_steps.scrolling {
      top: 126px;
  }  
	div.gf_page_steps.scrolling {
	    top: 80px;
	    background: transparent;
	    box-shadow: none;
	}
	.gf_page_steps .gf_step_label {
	   display: none;
	}
}

@media screen and (max-width: 767px){
  .gform_wrapper .frm-application li.gfield, span.name_first{
    margin-bottom: 8px!important;
  }
  .gform_wrapper .frm-application .ginput_container.ginput_container_radio ul{
    display: block!important;
  }
  .gform_wrapper .frm-application .gfield.field_address .address_city, .gform_wrapper .frm-application .gfield.field_address .address_state, .gform_wrapper .frm-application .gfield.field_address .address_zip{
    width: 100%!important
  }
  .gform_wrapper .frm-application .col3-selection li,
  .gform_wrapper .frm-application .check-yes .ginput_container.ginput_container_radio li,
  .gform_wrapper .frm-application .ginput_container.ginput_container_radio li{
    width: 50%!important;
    display: inline-block !important;
    margin-left: 0;
    margin-right: 0;
  }
  .gform_wrapper .frm-application .ginput_container.ginput_container_radio li label{
    min-width: auto;
    width: 100%;
  }
  .gform_wrapper .frm-application .gform_page_footer input.button.gform_previous_button,
  .gform_wrapper .frm-application .gform_page_footer input.button.gform_next_button{
    /*padding: 10px 15px!important;*/
    padding: 6px 50px 6px 22px !important;
    margin-bottom: 15px;
  }
  .gform_wrapper .frm-application input[type=submit].button.gform_button{
    padding: 6px 50px 6px 22px !important;    
  }
  .gform_wrapper .frm-application .gform_page_footer input.button.gform_previous_button{
    padding: 6px 22px 6px 50px !important;
  }  
  .gform_wrapper div .gf_step span.gf_step_label{
    display: none
  }
}

/* mortgage form */
.top-banner-application-form{
    margin-top: 0px;
    background-color: #00bce7;
    padding-top: 0px;
    min-height: 159px;
}
#page-form-banner {
  min-height: 159px;
  padding: 70px 0 40px !important;
}
#page-form-banner #banner-title{  
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  line-height: 25px;  
  letter-spacing: 1.36px;
  text-align: center;
}


.gform_wrapper.frm-application_wrapper{
  margin-top: 0;
}
.gform_wrapper .frm-application .field_sublabel_below{
  border: none;
}

.gform_wrapper .frm-application li.gfield{
  margin-top: 4px;
  margin-bottom: 4px;
}
.gform_wrapper .frm-application input[type=text],
.gform_wrapper .frm-application select{
  border-bottom: 1px solid #dcdcdc;
  color: #2d2d2d;
  font-size: 18px !important;
  font-weight: 300;
  letter-spacing: 0.64px !important; 
  padding-bottom: 1px !important;
}

.gform_wrapper .frm-application input::-webkit-input-placeholder {
   font-style: italic; font-family: 'National-LightItalic'; font-size: 18px;
}
.gform_wrapper .frm-application input:-moz-placeholder {
   font-style: italic; font-family: 'National-LightItalic';  font-size: 18px;
}
.gform_wrapper .frm-application input::-moz-placeholder {
   font-style: italic; font-family: 'National-LightItalic';  font-size: 18px;
}
.gform_wrapper .frm-application input:-ms-input-placeholder {  
   font-style: italic; font-family: 'National-LightItalic'; font-size: 18px;
}

/*.gform_wrapper .frm-application input[type=text]+label,*/
.gform_wrapper .frm-application .gfield.no-label .gfield_label,
.gform_wrapper .frm-application .gfield span label,
.gform_wrapper .frm-application .gfield .ginput_container_time label{
  display: none !important;
}
.gform_wrapper .frm-application .gfield.first-label label:first-child{
    display: block !important;
    margin-top: 45px !important;
    margin-bottom: 0;
    padding-bottom: 8px;
}
.gform_wrapper .frm-application .gfield .gfield_label .gfield_required{
  display: none;
}
.gform_wrapper .frm-application .gfield>.gfield_label{
  color: #006bc0;
  font-size: 25px !important;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 1.14px;
  display: block;
  border-bottom: 2px solid #f4f4f4;
  padding-bottom: 12px;
  margin-bottom: 10px;
  margin-top: 58px;
}
.gform_wrapper .frm-application .gfield.s1_section_1 {margin-bottom: 8px!important;}
.gform_wrapper .frm-application .gfield.s1_section_1 input{ padding: 9px 4px; }
.gform_wrapper .frm-application .gfield.s1_section_2 { }
.gform_wrapper .frm-application .gfield.s1_section_3 {}
.gform_wrapper .frm-application .gfield.s1_section_4 .gfield_label{margin-top: 40px;}
.gform_wrapper .frm-application .gfield.s1_section_5 .gfield_label{margin-top: 50px;}
.gform_wrapper .frm-application .gfield.s1_section_6 .gfield_label{margin-top: 30px;}

.gform_wrapper .frm-application .gfield.sm-label.same-h>.gfield_label{
      height: 30px;
}

.gform_wrapper .frm-application .gfield.field_address .address_city,
.gform_wrapper .frm-application .gfield.field_address .address_state,
.gform_wrapper .frm-application .gfield.field_address .address_zip{
  width: 33%;
  display: inline-block;
}
.gform_wrapper .frm-application .gfield.field_address .address_city,
.gform_wrapper .frm-application .gfield.field_address .address_state{
  margin-right: 2px!important;
  padding-right: 14px!important;
}
.gform_wrapper .frm-application .gfield.field_address .ginput_left.address_zip{
  padding-right: 0!important;
  margin-right: 0!important;
}

.gform_wrapper .frm-application .gfield_label.gfield_label_before_complex{
  display: block !important;
}
.gform_wrapper .frm-application .ginput_container.ginput_container_radio{
  margin-top: 22px;
}



.gform_wrapper .frm-application.s1_p6 .ginput_container.ginput_container_radio li label div{
  /*color: #9b9b9b;*/
   color: #9b9b9b;
}
.gform_wrapper .frm-application.s1_p6 .ginput_container.ginput_container_radio li label div{
  color: #4a4a4a!important;
}

.gform_wrapper .frm-application .ginput_container.ginput_container_radio li [type="radio"] + label:before, 
.gform_wrapper .frm-application .ginput_container.ginput_container_radio li [type="radio"]:checked + label:after, 
.gform_wrapper .frm-application .ginput_container.ginput_container_radio li [type="radio"]:not(:checked) + label:after{
  border-radius: 2px;
  width: 22px;
  height: 22px;  
  box-shadow: none;
}
.gform_wrapper .frm-application .ginput_container.ginput_container_radio li [type="radio"]:checked + label:before{
  border-radius: 0;
    content: '';
    display: block;
    width: 6px;
    height: 11px;
    border: solid #FFF;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    z-index: 1;
    background: none;
    box-shadow: none;
  left: 8px;
  top: 4px;
}
.gform_wrapper .frm-application .gfield_checkbox li {
  position: relative;
  padding-left: 40px;
}
.gform_wrapper .frm-application .gfield_checkbox li [type="checkbox"]+label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 22px;
    border: 1px solid #ddd;
    border-radius: 0;
    background: #fff;
    box-shadow: 0px 1px 4px #949292;
}
.gform_wrapper .frm-application .gfield_checkbox li [type="checkbox"]:checked+label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 24px;
    border: 1px solid #ddd;
    border-radius: 0;
    background: #00bce7;
    box-shadow: 0px 1px 4px #949292;
}
.gform_wrapper .frm-application .gfield_checkbox li label:before {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    left: 7px;
    top: 8px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0;
    z-index: 1;
    transition: all 100ms;
}

.gform_wrapper .frm-application input[type="checkbox"] {
  opacity: 0;
  outline: none;
  z-index: 100;
  width: 27px;
  height: 27px;
  top: 0;
  left: 0;
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.gform_wrapper .frm-application .ginput_container_checkbox{
  margin-top: 26px;
}
.gform_wrapper .frm-application input[type="checkbox"]:checked + label:before {
  opacity: 1;
}

.gform_wrapper .frm-application .col3-selection li{
  width: 33%;
  display: inline-block;
  line-height: 100%!important;
  vertical-align: top;
  margin-bottom: 19px;
}
.gform_wrapper .frm-application .radio-col3-selection ul { display: block !important; width: 100% !important;}
.gform_wrapper .frm-application .radio-col3-selection li{
  width: 33%;
  display: inline-block !important;
  line-height: 100%!important;
  vertical-align: top;
  margin-bottom: 19px;
  margin-right: 0 !important;
}

.gform_wrapper .frm-application .ginput_container_address .ginput_full input{
  margin-bottom: 20px;
}
.gform_wrapper .frm-application .gf_page_steps{
  border: none;
  display: flex;
}
.gform_wrapper .frm-application .gf_page_steps .gf_step_number{
  display: none;
}
.gform_wrapper .frm-application .gf_page_steps .gf_step{
  flex: 1;
  color: #4a4a4a; 
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;  
  letter-spacing: 0.55px; 
  border-top: 5px solid transparent;
  padding: 15px 40px;
  margin: 0;
}
.gform_wrapper .frm-application .gf_page_steps .gf_step.gf_step_completed,
.gform_wrapper .frm-application .gf_page_steps .gf_step.gf_step_active{
  border-top: 5px solid #00bce7;
  opacity: 1;
}
/* .gform_wrapper .frm-application .gf_page_steps .gf_step.gf_step_last:before {
    content: "Finish";
    flex: 1;
    width: 6px;
    height: 12px;
} */
.gform_wrapper .frm-application .gform_body {
    max-width: 550px;
    margin: auto;
}
.gform_wrapper .frm-application .gform_page_footer{
    border-top: 1px solid #dcdcdc;
    padding-top: 18px;
    padding-bottom: 70px;
    margin-top: 62px;
}
.gform_wrapper .frm-application .button{
    padding: 4px 85px 4px 55px !important;
    background-color: transparent!important;
    background-position: right center;
    background-repeat: no-repeat;    
    border: 1px solid #00bce7;
    border-radius: 0;
  /* Style for "Next" */
  color: #4a4a4a !important;
  font-family: "National-Medium";
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.64px;    
  text-transform: capitalize;
}



.field-day{
  padding-top: 125px !important;
}
.gfield_time_ampm{
  padding-top: 6px;
}

.gform_wrapper .ginput_complex .ginput_left, .gform_wrapper .ginput_complex .ginput_right, .gform_wrapper .ginput_complex .ginput_full {
  min-height: auto;
}
/* mortgage form END */

/* mortgage-ty-page  */
.container-ty-page-steps { margin-bottom: 0 !important; position: absolute;width: 100%; }
.mortgage-ty-page .mortgage-ty-page-content{
  padding-top: 0;
  padding-bottom: 30px;
  margin-top: 0;
}
.mortgage-ty-page .mortgage-ty-page-content .vc_column-inner{
  min-height: 640px;
  padding-top: 125px;
}

.mortgage-ty-page .mortgage-ty-page-content .vc_custom_heading{
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
  line-height: 40px !important;
  letter-spacing: 1.82px;  
  max-width: 455px;
}
.mortgage-ty-page .mortgage-ty-page-text{
  max-width: 420px;
}
.mortgage-ty-page .mortgage-ty-page-text p{
  color: #ffffff;
  font-size: 20px !important;
  font-weight: 300;
  line-height: 25px !important;
  letter-spacing: 0.91px;
  font-family: "National-Light";
}
.mortgage-ty-page .mortgage-ty-page-content .additional-details{
  max-width: 420px;
}
.mortgage-ty-page .mortgage-ty-page-content .additional-details ul{
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.64px;  
  list-style: none;
  padding-left: 0;
}
.mortgage-ty-page .mortgage-ty-page-content .additional-details ul li{
  color: #ffffff;
  border-bottom: 1px solid #9b9b9b;
  padding-top: 5px;
  padding-bottom: 5px;  
  position: relative;
}
.mortgage-ty-page .mortgage-ty-page-content .additional-details ul li a{
  color: #ffffff;
  background-position: right 12px;
  background-repeat: no-repeat;
  padding-right: 30px;
  display: block;
  background-image: url(../images/icon-arrow@2x.png);
  padding-top: 5px;
  padding-bottom: 5px;
  background-size: 10px;
}
/*.mortgage-ty-page .mortgage-ty-page-content .additional-details ul li a:after {
    content: "\25b6";
    position: absolute;
    right: 0;
    top: 12px;
    font-size: 11px;
}*/
.mortgage-ty-page .mortgage-ty-page-content .additional-details .icon-home{
  background-position: left 2px;
  background-repeat: no-repeat;
  padding-left: 30px; display: block;
  background-image: url(../images/icon-home2x.png);
  background-size: 16px;
}
.mortgage-ty-page .mortgage-ty-page-content .additional-details .icon-borrow{
  background-position: left 2px;
  background-repeat: no-repeat;
  padding-left: 30px;
  display: block;
  background-image: url(../images/icon-borrow2x.png);
  background-size: 14px;
}
.mortgage-ty-page .mortgage-ty-page-content .additional-details .icon-approval{
  background-position: 4px 3px;
  background-repeat: no-repeat;
  padding-left: 30px; display: block;
  background-image: url(../images/icon-approval@2x.png);
  background-size: 10px;
}
.ty-steps {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0 !important;
  border-top: 5px solid #006bc0; 
  z-index: 1;
}
.ty-page-steps{   
  margin: 0;
}
.ty-page-steps .gf_step{
  color: #ffffff !important;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.55px;  
  opacity: 1 !important;
  display: none;
}

@media screen and (max-width: 480px) {
  body .mortgage-ty-page{
    background-position: left top !important;
  }
  .ty-steps .gf_step,
  .left-space{
    display: none;
  }
  .page-thank-you  .mc-new-form .mc-field-group {
      padding-left: 20px;
      padding-right: 20px;    
  }
  .page-thank-you  .mc-new-form .mc-field-group input{
      padding: 14px !important;
      max-width: none;
      width: 100%;
  }
  .mortgage-ty-page .mortgage-ty-page-content .vc_column-inner{
    min-height: 560px;
    padding-top: 30px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }   

  .page-thank-you #mobile_header h3 {
     background: #fff;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  }
  .page-thank-you #mobile_header .cd-dropdown-trigger::after {
     color: #00bce7;
     background: transparent;
  }
  .gform_wrapper .frm-application .gsection_title{
        margin: 15px auto 10px !important;
  }
  .gform_wrapper .frm-application .gform_body{
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* mortgage-ty-page END OLD*/
