.blog .haven-container, 
.blog .haven-container-inner, 
.blog .haven-container-a {
    padding-left: 15px;
    padding-right: 15px;
}
.blog .post-grid .post-image {
    height: 320px;
    margin-bottom: 36px;
}

.blog .post-image-wrapper a {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {

    .blog .searchform button.submit {
        min-height: 34px;
    }

    .blog .searchform input::placeholder {
        color: #4a4a4a;
        font-family: "National-Light";
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.82px;
    }
}

@media screen and (max-width: 600px) {
    .blog .post-image-wrapper {
        border-bottom: 0px !important;
    }
}


.blog .post-image-wrapper {
    border-bottom: 1px solid #f6f6f6;
    margin-bottom: 45px;
}

@media screen and (max-width: 768px) {
    .blog .post-image-wrapper {
        margin-bottom: 20px;
    }
}

.blog .blog-header p {
    margin-bottom: 53px;
}

@media screen and (max-width: 768px) {
    .blog .blog-header p {
        margin-bottom: 0px;
    }
}

.blog .post-grid .post-content-wrapper .post-date,
.blog .post-grid .post-content-wrapper .post-category a {
    color: #00bce7;
    font-family: "National-Medium";
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.55px;
    line-height: 12px;
    text-transform: uppercase;
}

.blog .blog-grid .post-content-wrapper .post-date {
    border-right: 1px #00bce7 solid;
    padding-right: 10px;
    margin-right: 10px;
}

.blog .post-content-wrapper .post-title {
    color: #006bc0;
    font-family: "National-Light";
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1.14px;
    line-height: 25px;
    margin: 20px 0 26px;
}

.blog .post-content-wrapper .post-content {
    color: #4a4a4a;
    font-family: "National-Light";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.82px;
    line-height: 20px;
    min-height: 100px !important;
}

@media screen and (max-width: 600px) {
    .blog .post-content-wrapper .post-content {
        margin-bottom: 15px !important;
        min-height: unset !important;
    }
}

.blog .post-grid > .row > div {
    border-bottom: 0px;
    margin-bottom: 0px;
}

@media screen and (max-width: 600px) {
    .blog .post-grid > .row > div {
        padding-bottom: 32px;
    }
}

.blog .blog-grid {
    border-top: 1px solid #f6f6f6;
    padding-top: 60px;
}

@media screen and (max-width: 768px) {
    .blog .blog-grid {
        max-width: unset;
        padding-left: 15px;
        padding-right: 15px;
    }
    .blog .blog-grid .desktop {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 600px) {
    .blog .blog-grid {
        padding-top: 32px;
    }
}

.blog .blog-grid .content_wrapper .post-image {
    min-height: 253px;
}

.blog .blog-grid .sidebar {
    padding-left: 43px;
}

.single-post .sidebar {
    padding-left: 58px;
}

@media screen and (max-width: 768px) {
    .single-post .post_white_section .container {
        max-width: unset;
    }

    .single-post .container.mobile {
        max-width: unset;
        padding: 0;
    }

    .single-post .container.mobile .text,
    .single-post .container.mobile .sidebar,
    .single-post .container.mobile .contact,
    .single-post .container.mobile .share {
        padding-bottom: 0;
        padding-left: 15px;
        padding-right: 15px;
    }

    .blog .blog-grid .sidebar,
    .single-post .sidebar {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.blog .blog-grid .sidebar .articles .post-image,
.single-post .sidebar .articles .post-image {
    min-height: 74px;
}

@media screen and (max-width: 768px) {
    .blog .blog-grid .sidebar .articles .post-image,
    .single-post .sidebar .articles .post-image {
        min-height: 168px;
    }

    .blog .blog-grid .sidebar .articles div.image,
    .single-post .sidebar .articles div.image {
        max-width: unset !important;
    }
}

.blog .blog-grid .sidebar .articles div.image,
.single-post .sidebar .articles div.image {
    background-size: cover;
    display: block;
    max-width: 74px;
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    .blog .blog-grid .sidebar .articles div.image, 
    .single-post .sidebar .articles div.image {
        max-height: 52px;
    }
}
@media screen and (max-width: 800px) and (orientation: landscape) {
    .blog .blog-grid .sidebar .articles div.image, 
    .single-post .sidebar .articles div.image {
        min-height: 168px;
    }
}

.blog .blog-grid .sidebar .articles .post-image img,
.single-post .sidebar .articles .post-image img,
.blog .blog-grid .content .post-image img {
    height: 100%;
}

.blog .blog-grid .post-content-wrapper {
    margin-top: 27px;
}

.blog .post-content-wrapper .post-social {
    float: unset;
}

.blog .post-social div {
    margin-right: 0;
}

.blog .post-social div.col-4 {
    text-align: right;
}
.blog .blog-grid .desktop {
    display: block;
}
.blog .post-content.ipad {
    display: none;
}
/*get one category only*/
.blog .blog-grid .post-categories li {
    display: none !important;
}
.blog .blog-grid .post-categories li:first-child {
    display: block !important
}

@media screen and (max-width: 1024px) {
    .blog .post-content.desktop {
        display: none
    }
    .blog .post-content.ipad {
        display: block
    }
}

@media screen and (max-width: 768px) {
    .blog .blog-grid .post-content-wrapper {
        display: flex;
        flex-flow: column;
    }
    .blog .post-social div {
        margin-right: 0;
    }
    .blog .post-social-wrap {
        width: 100%;
    }
    .blog .blog-grid .post-content {
        font-size: 18px !important;
        line-height: 20px !important;
    }
}

.blog .blog-grid .post-date {
    padding-right: 10px;
}

.blog .blog-grid .post-pagination {
    text-align: right;
    padding: 0 !important;
    border: none !important;
}

.blog .blog-grid .post-pagination span {
    color: #d4d4d4;
    display: inline-block;
    margin: 0 10px;
    font-family: 'National-Medium';
}

.blog .blog-grid .post-pagination span.current {
    color: #00bce7;
}

.blog .blog-grid .post-pagination a {
    font-family: 'National-Medium';
    color: #d4d4d4;
    font-size: 15px;
    display: inline-block;
    margin: 0 10px;
}

.blog .blog-grid .post-pagination a:hover {
    text-decoration: none;
}

.blog .blog-grid .post-pagination a.next,
.blog .blog-grid .post-pagination a.prev {
    color: transparent;
    text-indent: -9999px;
    width: 20px;
    height: 20px;
    background-image: url(/app/uploads/2018/01/ArrowButton_White-1.png) !important;
    background-size: contain;
    background-repeat: no-repeat;
}

.blog .blog-grid .post-pagination a.next {
    left: 0;
}

.blog .blog-grid .post-pagination a.prev {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    left: 0;
}

.blog .pagination_links {
    display: flex;
    position: relative;
}

.blog .pagination_links .page-numbers {
    color: #dcdcdc;
    font-family: "National-Medium";
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    padding: 0 6px;
}

.blog .pagination_links .page-numbers.current {
    color: #00bce7 !important;
    font-family: "National-Medium";
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.6px;
    padding: 0px 4px;
    text-transform: uppercase;
}

.blog .pagination_wrapper {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    position: relative;
    text-align: right;
    width: 100%;
}

.blog .page-numbers.prev {
    background: url(/app/uploads/2018/01/ArrowButton_White-1.png) no-repeat;
    background-size: contain;
    margin-right: 10px;
    padding: 0 10px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.blog .page-numbers.next {
    background: url(/app/uploads/2018/01/ArrowButton_White-1.png) no-repeat;
    background-size: contain;
    margin-left: 10px;
    padding: 0 10px;
}

.blog .pagination_links.mobile {
    display: none;
}

.blog .pagination_links :first-child.current::before {
    background: url(/app/uploads/2018/01/ArrowButton_White-1.png) no-repeat;
    background-size: contain;
    content: "";
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    left: -40px;
    padding: 10px;
    position: absolute;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.blog .pagination_links :last-child.current {
    margin-right: 20px;
    padding: 0 15px;
}

.blog .pagination_links :last-child.current::before {
    background: url(/app/uploads/2018/01/ArrowButton_White-1.png) no-repeat;
    background-size: contain;
    content: "";
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    padding: 10px;
    position: absolute;
    right: 0;
}

.blog .screen-reader-text {
    display: none;
}

.blog .pagination_links .page-numbers:first-child {
    color: transparent;
    padding: 0 10px;
    text-indent: -9999px;
}

.blog .pagination_links .page-numbers:last-child {
    color: transparent;
    padding: 0 0 0 88px;
    margin-right: -88px;
    text-indent: -9999px;
}

.blog .pagination_links .page-numbers.current:last-child {
    padding: 0 30px 0 15px;
    margin-right: 0;
}

.blog .blog-grid .post-date,
.blog .blog-grid .post-categories {
    color: #00bce7;
    font-family: "National-Medium";
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.55px;
    line-height: 12px;
    text-transform: uppercase;
}

.single-post .post-categories,
.single-post .post-date {
    font-family: "National-Medium" !important;
    font-size: 12px !important;
    line-height: 12px;
}

@media screen and (max-width: 768px) {
    .blog .col-full,
    .single-post .content {
        margin-bottom: 0px !important
    }
}

.blog .blog-grid .post-categories li {
    display: inline-block;
}

.blog .blog-grid .post-title {
    color: #006bc0;
    font-family: "National-Light";
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1.14px;
    line-height: 26px;
    min-height: 52px;
}

@media screen and (max-width: 768px) {
    .blog .blog-grid .post-title {
        min-height: 75px;
    }
}
@media screen and (max-width: 600px) {
    .blog .blog-grid .post-title {
        min-height: unset !important;
    }
}
.blog .blog-grid .post-content {
    color: #4a4a4a;
    font-family: "National-Light";
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.64px;
    line-height: 16px;
}

.blog .sidebar .articles,
.single-post .sidebar .articles{
    margin-bottom: 24px;
}

.blog .sidebar .articles .title,
.single-post .sidebar .articles .title {
    background-color: #006bc0;
    margin: 0;
    padding: 12px;
}

@media screen and (max-width: 768px){
    .blog .sidebar .articles .title,
    .single-post .sidebar .articles .title {
        background-color: transparent !important;
        padding-bottom: 32px !important;
        padding-top: 30px !important;
        padding-left: 0px !important;
    }

    .blog .sidebar .articles .title span,
    .single-post .sidebar .articles .title span {
        color: #00bce7 !important;
        font-size: 25px !important;
        letter-spacing: 1.14px !important;
    }

    .blog .sidebar,
    .single-post .post_white_section .sidebar{
        background-color: #f6f6f6 !important;
    }
}

.blog .sidebar .articles .title,
.single-post .sidebar .articles .title {
    background-color: #006bc0;
    margin: 0;
    padding: 12px;
}

.blog .sidebar .articles .title span,
.single-post .sidebar .articles .title span {
    color: #ffffff;
    font-family: "National-Light";
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.91px;
    line-height: 25px;
}

.blog .sidebar .articles h5,
.single-post .sidebar .articles h5 {
    color: #006bc0;
    font-family: "National-Light";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.82px;
    line-height: 22px !important;
    margin-bottom: 10px !important;
}

@media screen and (max-width: 768px) {

    .blog .sidebar .articles h5,
    .single-post .sidebar .articles h5 {
        color: #006bc0;
        font-family: "National-Light";
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0.91px;
        line-height: 25px;
        margin-top: 18px;
    }
}

.blog .sidebar .articles p,
.single-post .sidebar .articles p {
    color: #2d2d2d;
    font-family: "National-Medium";
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.55px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.blog .sidebar .articles .contents > div.item,
.single-post .sidebar .articles .contents > div.item {
    background: #f6f6f6;
    padding: 21px;
    border-bottom: 1px solid #efefef;
}

.blog .sidebar .articles .contents > div.item .contents,
.single-post .sidebar .articles .contents > div.item .contents {
    padding-left: 21px;
}

.blog .sidebar .articles .contents > div.item:hover,
.single-post .sidebar .articles .contents > div.item:hover {
    background: #ededed
}

.blog .newsletter,
.single-post .newsletter {
    background-image: radial-gradient(circle 217px at 292.47% 527.39%, #48d2f2 0%, #00bce7 100%);
    color: white;
    padding: 27px 24px;
}

@media screen and (max-width: 768px) {
    .single-post .newsletter {
        margin-bottom: 20px;
    }
}

.blog .newsletter .title,
.single-post .newsletter .title {
    color: #ffffff;
    font-family: "National-Light";
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1.14px;
    line-height: 25px;
    margin-bottom: 13px;
}

.blog .newsletter p,
.single-post .newsletter p {
    color: #ffffff;
    font-family: "National-Light";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.82px;
    margin-bottom: 32px;
}

.blog .newsletter .ginput_container_text input,
.single-post .newsletter .ginput_container_text input {
    margin-bottom: 25px !important;
}

.blog .newsletter .ginput_container_email input,
.single-post .newsletter .ginput_container_email input {
    margin-bottom: 28px !important;
}

.blog .newsletter .gform_wrapper .gform_footer,
.single-post .newsletter .gform_wrapper .gform_footer {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .single-post .newsletter .gform_wrapper input::placeholder {
        font-size: 18px
    }
    .single-post .newsletter .gform_wrapper ul li.gfield {
        margin-bottom: 0;
        margin-top: 0;
    }
}

/*.blog .sidebar .slick-list,*/
/*.single-post .sidebar .slick-list{*/
/*    padding: 0px 50px 0 0 !important;*/
/*}*/

.blog .sidebar .slick-slide,
.single-post .sidebar .slick-slide {
    margin-right: 20px;
}

.blog .sidebar .slick-dots,
.single-post .sidebar .slick-dots {
    bottom: -40px;
}

.blog .sidebar .slick-dots li,
.single-post .sidebar .slick-dots li {
    margin: 0 !important;
}

.blog .sidebar .slick-dotted.slick-slider,
.single-post .sidebar .slick-dotted.slick-slider {
    margin-bottom: 60px;
}

.blog #content .footer-newsletter_wrapper,
.single-post .content .footer-newsletter_wrapper {
    background-color: transparent;
    border-bottom: 0px;
    padding: 0;
}

.blog #content .footer-newsletter input,
.single-post .content .footer-newsletter input {
    max-width: 100%;
}

.blog #content .footer-newsletter .top_label input,
.single-post .content .footer-newsletter .top_label input  {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    line-height: 100%;
    margin-bottom: 10px;
    width: 100% !important;
}

.blog #content .footer-newsletter .top_label input::placeholder,
.single-post .content .footer-newsletter .top_label input::placeholder {
    font-size: 18px !important
}

.blog #content .footer-newsletter .gform_footer input[type=submit],
.single-post .content .footer-newsletter .gform_footer input[type=submit] {
    background-color: white;
    background-image: url(/app/uploads/2018/01/ArrowButton_White-1.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid white;
    color: #00bce7 !important;
    display: block;
    margin: 0;
    position: relative;
    text-transform: capitalize;
}

@media screen and (max-width: 768px) {
    .blog .sidebar .slick-dotted.slick-slider,
    .single-post .sidebar .slick-dotted.slick-slider {
        margin-bottom: 80px;
    }
}

.blog .sidebar .slick-dots li,
.single-post .sidebar .slick-dots li {
    width: 13px !important;
    height: 13px !important;
}

.blog .sidebar .slick-dots li button,
.blog .sidebar .slick-dots li button:before,
.single-post .sidebar .slick-dots li button,
.single-post .sidebar .slick-dots li button:before {
    height: 10px !important;
    width: 10px !important;
}

.blog .sidebar .slick-dots li button:before,
.single-post .sidebar .slick-dots li button:before {
    font-size: 40px !important;
}

.blog .sidebar .slick-dots li.slick-active button:before,
.single-post .sidebar .slick-dots li.slick-active button:before {
    color: #00bce7;
    font-size: 40px !important;
}

.blog .post-search form input.s {
    color: #4a4a4a;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .blog .searchform input.s,
    .blog #searchform input#s {
        width: 100%;
    }
    .blog .post-search form button.fa-search {
        margin-top: 20px;
        width: 100%;
    }
    .blog .post-search form button:before {
        color: #4a4a4a;
        display: block;
        font-family: "National-Light";
        font-size: 18px !important;
        padding: 13px 40px 13px 8px !important;
        letter-spacing: 0.82px;
        width: 100%;
    }
    .blog .post-search {
        margin-bottom: 13px;
        padding: 15px;
    }
    .blog .post-search form input.s {
        margin: 0 auto 10px !important;
        padding: 16px;
    }
    .blog .post-grid .post-image {
        margin-bottom: 26px;
        max-height: 237px;
    }
    .blog .post-grid .post-social {
        margin-bottom: 23px;
    }
}

.single-post .post-contact-box {
    align-items: center;
    background: url(/app/themes/BBTFramework/images/contact-footer-bg.png);
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-flow: column;
    height: 220px;
    justify-content: center;
}

.single-post .post-contact-box .inner {    
    margin: 0 auto;
    text-align: center;
    max-width: 50%;
}

.single-post .post-contact-box .inner h3 {
    color: #fff;
    font-family: "National-Light";
    font-size: 25px !important;
    font-weight: 300;
    letter-spacing: 1.14px;
    line-height: 25px;
}

.single-post .post-contact-box .inner p {
    color: #ffffff;
    font-family: "National-Light";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.82px;
}

@media screen and (max-width: 600px) {
    .single-post .post-contact-box .inner {
        max-width: 100%;
    }
}

.single-post .post_white_section .post-nav {
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .single-post .post_white_section .post-nav {
        display: none;
    }
}

.single-post .post-contact-box .button {
    color: #00bce7 !important;
    font-family: 'National-Medium';
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.59px;
    padding: 7px 55px 7px 8px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 0px;
    background-image: url(/app/uploads/2018/01/ArrowButton_White-1.png) !important;
    background-repeat: no-repeat !important;
    background-position: 100% !important;
    text-decoration: none;
    background-size: contain;
}

.single-post .post-contact-box .button:hover {
    color: #fff !important;
    background-color: #00bce7 !important;
    background-position: right;
    background-size: contain;
}

.single-post .post_white_section .post-title {
    font-family: 'National-Light';
    font-weight: 300;
    margin: 28px 0 !important;
}

.single-post .post_white_section .post-date-category {
    align-items: center;
    color: #2d2d2d;
    font-family: "National-Medium";
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.55px;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .single-post .post_white_section .post-date-category {
        text-align: left;
    }
}

.single-post .post_white_section .post-date-category .post-social {
    color: #2d2d2d;
    font-family: "National-Light";
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.68px;
    text-transform: capitalize;
}

@media screen and (max-width: 600px) {
    .single-post .post_white_section .post-date-category .post-social {
        text-align: left;
    }
}

.single-post .post_white_section .post-categories li {
    display: inline-block;
}

.single-post .post-social span i {
    top: 4px;
}

.single-post .post-social div {
    margin-top: -3px;
    vertical-align: middle;
}

.single-post .post-social div i {
    font-size: 15px;
}

.single-post .post-feat-image {
    margin: 0px;
    margin-bottom: 0px !important;
    max-height: 320px;
    overflow: hidden;
}

.single-post .post-feat-image .image {
    min-height: 320px;
}

@media screen and (max-width: 600px) {
    .single-post .post-feat-image .image {
        min-height: 237px;
    }
}

.single-post .post_white_section .post-content .post-social {
    color: #2d2d2d;
    font-family: "National-Light";
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.68px;
}

.single-post .post_white_section .post-nav a,
.single-post .post_white_section .post-nav a:hover {
    color: #4a4a4a;
    font-family: "National-Light";
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.64px;
}


/*.single-post .post_white_section .post-content,*/
/*.single-post .post_white_section .post-content p {*/
/*    border-bottom: 0px;*/
/*    color: #4a4a4a;*/
/*    font-family: "National-Light";*/
/*    font-size: 14px;*/
/*    font-weight: 300;*/
/*    letter-spacing: 0.64px;*/
/*}*/

.single-post .post_white_section .post-content.text {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.single-post .post_white_section .post-content p:nth-of-type(1) {
    color: #4a4a4a;
    font-family: "National-Light";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.82px;
}

@media screen and (max-width: 600px) {
    .single-post .post_white_section .post-content,
    .single-post .post_white_section .post-content p {
        border-bottom: 0px;
        color: #4a4a4a;
        font-family: "National-Light";
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.82px;
        line-height: 24px;
    }
}

.single-post .post_white_section .post-content h2 {
    color: #4a4a4a;
    font-family: "National-Light";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.82px;
}

@media screen and (max-width: 600px) {
    .single-post .post_white_section .post-content h2 {
        font-family: "National-Medium";
    }
}

.single-post .post_white_section .post-content img {
    display: none;
}

.single-post .post_white_section .post-content ol,
.single-post .post_white_section .post-content ul {
    padding-left: 30px;
}

.single-post .post_white_section .post-content ol li,
.single-post .post_white_section .post-content ul li {
    padding-left: 10px;
}