#MortCalc1 .hidden-fields {
	display: none !important;
}
#MortCalc1.mort-wrap .mortgage-top span.mortgage-label {
    color: #00bce7;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'National-Medium';
}
#MortCalc1.mort-wrap .mortgage-top {
    box-shadow: 2px 2px 13px #d0d0d0 !important;
    border-radius: 5px !important;
    margin-bottom: 35px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-top: 35px;
/*    overflow: hidden;*/
}
#MortCalc1.mort-wrap {
    padding: 0 0px;
}
#MortCalc1 .mort-wrap select {
    border-bottom: none !important;
}
#MortCalc1 .mortgage-top .row > .col-md-4 .row .col-12 {
    border-bottom: solid 1px;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
#MortCalc1 .mortgage-top select, #MortCalc1 .mortgage-top input[type=text] {
    border-bottom: none;
}
#MortCalc1.mort-wrap .mortgage-bottom {
    box-shadow: none !important;
    border-radius: 0 !important;
    height: 100%;
    padding-left: 70px;
    padding-top: 45px;
    padding-right: 55px;
}
#MortCalc1 .mortgage-bottom .row {
    margin: 25px 0 0;
}
#MortCalc1 .mortgage-top > .row {
	margin: 0 !important;
	padding: 0 !important;
}
#MortCalc1 .mortgage-top > .row > .col-md-4 {
    padding-bottom: 35px;
    padding-right: 30px;
    padding-top: 15px;
}
#MortCalc1 input, #MortCalc1 textarea {
    font-size: 22px;
    font-family: 'National-Book';
}
#MortCalc1 .extra-sign {
	font-size: 20px;
    font-family: 'National-Book';
    float: right;
}
#MortCalc1 .mortgage-bottom h3 {
    color: #fff;
    font-size: 36px;
    margin: 0;
    text-align: left;
    border-bottom: solid 1px;
    padding-bottom: 20px;
}
#MortCalc1 .mortgage-bottom h4 {
    color: #ffffff;
    font-family: 'National-Light';
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 0.91px;
    line-height: 25px !important;
    border-bottom: dashed 1px;
    padding-bottom: 25px;
    margin-top: 26px;
    margin-bottom: 0;
    max-width: 370px;
}
span.dollar-sign {
    font-size: 20px;
    font-family: 'National-Book';
    margin-right: 15px;
}
#MortCalc1.mort-wrap .mortgage-bottom .right-label {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'National-Medium';
}
#MortCalc1.mort-wrap .mortgage-bottom .row > .right-value {
    font-family: 'National-Thin';
    font-size: 30px;
}
#MortCalc1.mort-wrap .mortgage-bottom .row > .right-value span {
    font-size: 33px;
    font-family: 'National-Thin';
}
.final-results {
    border-top: solid 1px;
    background: rgba(255, 255, 255, 0.3);
    margin-top: 15px;
}
#MortCalc1 .mortgage-bottom > .row > .col-xl-7 > .row, #MortCalc1 .mortgage-bottom > .row > .col-md-7 > .final-results > .row {
    padding: 17px 15px;
    margin-top: 0;
}
#MortCalc1.mort-wrap .mortgage-bottom .row > .right-value.bolded, #MortCalc1.mort-wrap .mortgage-bottom .row > .right-value.bolded span {
    font-family: 'National-Medium';
}
#MortCalc1.mort-wrap .mortgage-bottom .row.toptip > div {
    text-align: left;
    color: #fff;
}
#MortCalc1.mort-wrap .mortgage-bottom .row.toptip > div p {
    color: #fff;
}
#MortCalc1.mort-wrap .mortgage-bottom .row.toptip > div h5 {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'National-Medium';
    margin-bottom: 0 !important;
}
#MortCalc1.mort-wrap .mortgage-bottom .row.toptip {
    border-top: solid 1px;
    margin-top: 50px;
    padding-bottom: 50px;
    border-bottom: solid 1px;
    padding-top: 35px;
}
#MortCalc1 .mortgage-top select.frequency-option {
    -webkit-appearance: unset;
    background: url(/app/themes/BBTFramework/images/dropdown-calc.png) no-repeat right center;
    color: #666;
}
#MortCalc1.mort-wrap .mortgage-bottom .row.wrapper-button {
    border-top: none;
}
#MortCalc1.mort-wrap .mortgage-bottom .row.wrapper-button .button-white a {
    float: right;
}
#MortCalc1.mort-wrap .mortgage-bottom .row.wrapper-button .button-white a:hover {
    color: #fff !important;
}
#MortCalc1.mort-wrap .mortgage-bottom .row > div.saved-multiple {
    background: url(/app/themes/BBTFramework/images/haven_03.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 222px;
    padding-left: 95px !important;
    padding-top: 65px;
    padding-right: 52px !important;
    max-width: 264px;
    text-align: left;
    height: 285px;
}
#MortCalc1 .mortgage-top select.frequency-option {
    width: 100%;
}
#MortCalc1.mort-wrap .mortgage-bottom .final-results .row {
    padding: 15px;
    margin: 0 !important;
}
#MortCalc1.mort-wrap .mortgage-bottom .row > div.saved-multiple span.saved-text {
    color: #848484;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'National-Medium';
    letter-spacing: 1px;
    margin-bottom: 18px;
    line-height: 1;
    display: block;
    text-align: center;
}
#MortCalc1.mort-wrap .mortgage-bottom .row > div.saved-multiple span.saved-value {
    color: #006bc0;
    font-family: 'National-Medium';
    font-size: 50px;
    display: block;
    margin-bottom: 25px !important;
    text-align: center;
}
#MortCalc1.mort-wrap .mortgage-bottom .row > div.lamp {
    background: url(/app/themes/BBTFramework/images/haven_07.png);
    background-repeat: no-repeat;
    background-position: center top;
}
#MortCalc1 .tooltip-icon {
    background: url(/app/themes/BBTFramework/images/tooltip-icon.png) no-repeat;
    width: 15px;height: 15px;
    position: absolute;
    right:0;
    top:0;
    cursor: pointer;
}
.tooltip-text {
    font-size: 14px;
    position: absolute;
    background: #f1f1f1;
    padding: 15px;
    max-width: 180px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #b3b3b3;
    right: -19px;
    z-index: 9;
    display: none;
}
.tooltip-text:before {
    top: -15px;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #f1f1f1;
    position: absolute;
    right: 16px;
}
.no-result {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 9;
    align-content: center;
    justify-content: center;
    flex-flow: column;
}
#MortCalc1 .mortgage-bottom .no-result img {
    width: 100%;
    max-width: 147px;
    text-align: center;
    margin: 0 auto;
}
#MortCalc1 .mortgage-bottom .no-result h4 {
    color: #00bce7;
    font-family: "National-Light";
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0.91px;
    border-bottom: 0;
    margin: 0 auto;
}

span.helper_label {
  color: #ff8080;
  font-size: 14px;
  float: left;
  margin: 15px 0 0 0;
}
.entry .calculator_form p.interest-text {
    font-size: 14px !important;
    font-family: "National-Book";
    margin-left: 15px;
}
a.close-tooltip {
    position: absolute;
    right: 10px;
    top: 0px;
}
#MortCalc1.mort-wrap .mortgage-bottom .row.wrapper-button .button-white a {
    color: #00bce7 !important;
}
#MortCalc1 .result-wrapper > .row > .col-xl-7 > .row {
    padding-left: 15px;
    padding-right: 15px;
}
.mortgage-bottom .result-wrapper span {
    max-width: 100%
}
@media screen and (min-width: 768px) {

	#MortCalc1 .mortgage-top .row > div:last-of-type {
	    padding-left: 0;
	    padding-right: 0;
	}
    .result-calculate {
        display: none;
    }
    #MortCalc1.mort-wrap .mortgage-bottom .row.wrapper-button .button-white a.back-button {
        display: none;
    }
    #MortCalc1.mort-wrap .mortgage-bottom .row.wrapper-button {
        justify-content: flex-end;
    }

}
@media screen and (max-width: 1200px) {
    #MortCalc1.mort-wrap .mortgage-bottom .row > div.saved-multiple {
        margin: 0 auto;
        margin-top: 35px;
    }


}
@media screen and (max-width: 992px) {
    #MortCalc1 .mortgage-top select, #MortCalc1 .mortgage-top input[type=text] {
        width: 75%;
    }
    #MortCalc1.mort-wrap .mortgage-bottom .row > .right-value span {
    font-size: 30px;
    font-family: 'National-Thin';
}
}
@media screen and (max-width: 768px) {
    #MortCalc1 .mortgage-top input.interest-rate,#MortCalc1 .mortgage-top input.year-term.range-slide {
        width: 67%;
    }
    #MortCalc1.mort-wrap .mortgage-bottom {
        padding-left: 55px;
    }
    #MortCalc1.mort-wrap .mortgage-bottom .row > div.saved-multiple span.saved-text:first-child {
        margin-top: 17px;
    }
}
@media screen and (max-width: 767px) {
    .tooltip-text {
        top: 30px;
    }
    #MortCalc1.mort-wrap .mortgage-bottom .row.toptip {
        padding-bottom: 18px;
    }
    #MortCalc1.mort-wrap .mortgage-bottom .row > div.saved-multiple {
        background: url(/app/themes/BBTFramework/images/resultbg.png);
        background-repeat: no-repeat;
        max-width: 243px;
        background-size: 100%;
        text-align: center;
        padding: 0px !important;
        display: flex;
        flex-flow: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        height: 193px;
    }
    #MortCalc1 input[type=text] {
        font-size: 20px;
        font-family: 'National-Book';
    }

    #MortCalc1.mort-wrap .mortgage-bottom .row > div.saved-multiple span.saved-text {
        font-size: 11px;
        padding-left: 16px;
    }
    #MortCalc1.mort-wrap .mortgage-bottom .row > div.saved-multiple span.saved-value {
        padding-left: 16px;
    }
    #MortCalc1.mort-wrap .mortgage-top span.mortgage-label {
        text-align: left;
    }
    #MortCalc1 .mortgage-top select.frequency-option {
        width: 100%;
    }
    #MortCalc1.mort-wrap .mortgage-bottom {
        display: none;
    }
    .no-result {
        display: none;
    }
    #MortCalc1.mort-wrap .mortgage-top {
        padding-left: 0;
    }
    #MortCalc1 .mortgage-top .row > div:first-of-type {
        text-align: left;
    }
/*    #MortCalc1 .mortgage-top select, #MortCalc1 .mortgage-top input[type=text] {
        width: 80%;
    }*/
    #MortCalc1 .mortgage-bottom h4 {
        max-width: 100%;
    }
    #MortCalc1 .mortgage-top > .row > .col-md-4 {
        padding-left: 30px;
    }
    #MortCalc1 .mortgage-top .row > div:first-of-type {
        margin-bottom: 0px;
    }
    .calculator_form .result-calculate a, .calculator_form .result-calculate a:active {
        padding: 13px 55px 13px 8px !important;
        width: 100%;
        display: block;
        text-align: center;
        font-family: 'National-Light';
        margin-top: 20px;
        cursor: pointer;
    }
    #MortCalc1.mort-wrap .mortgage-bottom {
        padding-left: 20px;
        padding-right: 20px;
    }
    #MortCalc1.mort-wrap .mortgage-bottom .row.wrapper-button .button-white {
        width: 100%;
    }
    #MortCalc1.mort-wrap .mortgage-bottom .row.wrapper-button .button-white a {
        width: 100%;
        max-width: 100%;
        text-align: center;
        color: #00bce7 !important;
    }
    #MortCalc1.mort-wrap .mortgage-bottom .row.wrapper-button .button-white a.back-button {
        padding: 7px 8px 7px 55px !important;
        background-color: #00bce7 !important;
        color: #fff !important;
        background-position: left !important;
        display: block;
        margin-top: 10px;
        width: 100%;
        text-align: center;
        max-width: 100%;
        background-image:url(/app/themes/BBTFramework/images/backbg@2x.png) !important;
    }
.calculator_form .result-calculate a.disable, .calculator_form .result-calculate a.disable:active {
    -webkit-filter: grayscale(1);
    pointer-events: unset;
}
}
@media screen and (max-width: 580px) {
    #MortCalc1.mort-wrap .mortgage-bottom .row.wrapper-button .button-white a {
        float: right;
        max-width: 100% !important;
        width: 100%;
    }

    #MortCalc1.mort-wrap .mortgage-bottom .row > .right-value span {
        font-size: 24px;
        font-family: 'National-Thin';
    }
}