/*************** CAREER PAGE ********************/
.page-careers #mobile_header{
  height: 0;
}

.page-careers #inner-wrapper>.content{
  padding-top: 0;
}

.page-careers .header-wrap #header,
.page-careers #mobile_header,
.page-careers #mobile_header h3 {
  background-color: rgba(255, 255, 255, 0.1);
}

.page-careers .header-wrap #header #navigation ul.nav li a{
  color: #2d2d2d;
}

.page-careers .header-wrap #header #navigation ul.nav > li.current-menu-item > a:before, 
.page-careers .header-wrap #header #navigation ul.nav > li.current-menu-ancestor > a:before, 
.page-careers .header-wrap #header #navigation ul.nav > li.current-menu-parent > a:before, 
.page-careers .header-wrap #header #navigation ul.nav > li.current_page_parent > a:before, 
.page-careers .header-wrap #header #navigation ul.nav > li.current_page_ancestor > a:before {
  background: url(/app/themes/BBTFramework/images/nav-active.png) top center no-repeat;
}

.page-careers .header-wrap #header.scrolling #navigation ul.nav > li.current-menu-item > a, 
.page-careers .header-wrap #header.scrolling #navigation ul.nav > li.current-menu-ancestor > a, 
.page-careers .header-wrap #header.scrolling #navigation ul.nav > li.current-menu-parent > a, 
.page-careers .header-wrap #header.scrolling #navigation ul.nav > li.current_page_parent > a, 
.page-careers .header-wrap #header.scrolling #navigation ul.nav > li.current_page_ancestor > a {
  color: #00bce7;
}

.page-careers .header-wrap #header.scrolling #navigation ul.nav > li.current-menu-item > a:before, 
.page-careers .header-wrap #header.scrolling #navigation ul.nav > li.current-menu-ancestor > a:before, 
.page-careers .header-wrap #header.scrolling #navigation ul.nav > li.current-menu-parent > a:before, 
.page-careers .header-wrap #header.scrolling #navigation ul.nav > li.current_page_parent > a:before, 
.page-careers .header-wrap #header.scrolling #navigation ul.nav > li.current_page_ancestor > a:before {
  background: url(/app/themes/BBTFramework/images/nav-active-blue.png) top center no-repeat;
}

.page-careers .header-wrap #header #navigation ul.nav .sub-menu a{
  color: #444;
}

.page-careers .header-wrap #header.scrolling {
  background: #fff;
}

.page-careers .header-wrap #header.scrolling #navigation ul.nav > li a{
  color: #2d2d2d;
}

.page-careers .haven-container-a{
  max-width: 780px;
}

.page-careers .haven-container-a p{
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.82px;
}

.page-careers .featured-title,
.page-careers .featured-title h3{
  color: #00bce7;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0.91px;  
}

.page-careers .featured-title{
  margin-bottom: 30px;
}

.page-careers .featured-title h3{
  margin: 0;
}

.page-careers .featured-content,
.page-careers .featured-content p{
  color: #4a4a4a;
  /*font-size: 14px !important;*/
  font-weight: 300;
  letter-spacing: 0.64px;  
}

.page-careers .featured-content p:last-child{
  margin-bottom: 0;
}

.page-careers .hide-temporary {
  display: none;
}

.page-careers .top-container-inner {
  max-width: 1140px;
}

.page-careers .top-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 753px;
  margin-top: 0;
  padding-top: 90px;
  padding-bottom: 300px;
  width: 100%;
}

.page-careers .top-container h1 {
  color: #00bce7;
  display: block;
  font-family: "National-Light";
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 1.82px;
  line-height: 40px;
  padding: 0 15px;
  text-align: left;
  text-transform: capitalize;
}

.page-careers .top-container-text p {
  color: #4a4a4a;
  font-family: "National-Light";
  /*font-size: 14px !important;*/
  font-weight: 300;
  letter-spacing: 0.64px;
  text-align: left;
  margin-bottom: 20px;
  max-width: unset;
}

.page-careers .job-section-title {
  color: #00bce7;
  font-size: 40px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 1.82px;
  margin-bottom: 66px !important;
}

.page-careers div#how-help {
  padding-top: 32px;
}

.page-careers .job-box h4{
  color: #006bc0;
  font-family: "National-Light";
  font-size: 25px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 1.14px;
  margin-bottom: 17px;
  min-height: 75px;
}

.page-careers .job-box h4 a,
.page-careers .job-box h4 a:hover{
  color: #006bc0;
}

.page-careers .job-box .job-location{
  color: #00bce7;
  font-family: "National-Medium";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.55px;   
  margin-bottom: 19px;
  text-transform: uppercase;
}

.page-careers .job-box .post-blurb,
.page-careers .job-box .post-blurb p{
  color: #4a4a4a;
  font-family: "National-Light";
  font-size: 18px !important;
  font-weight: 300;
  letter-spacing: 0.64px;  
  line-height: 20px !important;
}

.page-careers .job-box .post-blurb{
  margin-bottom: 15px;
}

.page-careers .job-box .post-blurb p {
  color: #4a4a4a;
  font-family: "National-Light";
  /*font-size: 14px !important;*/
  font-weight: 300;
  letter-spacing: 0.64px;
}

.page-careers .job-box .post-blurb p:last-child{
  margin-bottom: 0;
}

.page-careers .job-box .job-type,
.page-careers .job-box .job-status {
  font-family: "National-Light";
  display: inline;
  /*font-size: 14px;*/
  color: #4a4a4a;
  letter-spacing: 0.64px;  
  margin-right: 10px;
}

.page-careers .job-box .job-status {
  border-left: 1px solid #dadada;
  padding-left: 10px;
}

.page-careers .job-status.job-expired {
  color: #d0021b;
}

.page-careers .job-box .job-type{
  display: inline;
}

.page-careers .job-box .button-white-black{
  margin-top: 25px;
}

.page-careers .job-box .button-white-black a{
  color: #4a4a4a !important;
  display: inline-block;
  /*font-size: 14px !important;*/
  font-weight: 300;
  letter-spacing: 0.64px;  
  padding: 7px 55px 7px 8px !important;
}

.page-careers .job-box .button-white-black a, 
.page-careers .job-box .button-white-black a:active{
  /*font-size: 14px !important;*/
  letter-spacing: 0.64px;
  padding: 7px 55px 7px 8px !important;
}

.page-careers .job-box .button-white-black a,
.page-careers .job-box .button-white-black a:active {
  background-image: url(../images/button-blue.png) !important;
  background-repeat: no-repeat !important;
  background-position: 100%;
  background-size: contain;
  text-decoration: none;
}

.page-careers .job-box .button-white-black a:hover {
  background-color: #00bce7 !important;
  background-image: url(../images/button-blue-hover.png) !important;
  background-size: contain;
  color: #fff !important;
}

.page-careers .job-box .job-metas strong{
  color: #d0021b;
  font-weight: 300;
}

.page-careers .job-rows{
  margin-top: 0px;  
}

.page-careers .job-rows:after {
  clear: both;
  content: '';
  display: block;
  height: 44px;  
  margin-bottom: 44px; 
  width: 100%; 
}

.page-careers .job-separator{
  border-bottom: 1px solid #dadada;
  clear: both;
  display: block;
  height: 44px;
  margin-bottom: 44px;
  width: 100%;
}

.page-careers #mobile_header h3.scrolling {
  background: #00bce7;
}

.page-careers #mobile_header h3.active-menu {
  background: #00bce7;
}

/* single job font-national-light */
.page-careers .single-job .post-social span {
  display: inline-block;
  font-family: "National-Light";
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.68px;
  margin-right: 10px;
}

.page-careers .single-job #mobile_header h3{
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.page-careers .single-job #mobile_header .cd-dropdown-trigger::after{
  background-color: #fff;
  color: #00bce7;
}

.page-careers #mobile_header .cd-dropdown-trigger::after{
  background: transparent;
}

.page-careers .single-job .haven-breadcrumbs {
  box-shadow: none;
}

.page-careers .single-job .post-title {
  color: #00bce7;
  font-family: 'National-Light';
  font-size: 40px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 1.82px;
}

.page-careers .job-metas {
  color: #2d2d2d;
  font-family: "National-Medium";
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.55px;
  color: #dadada;
  letter-spacing: 0.55px;
}

.page-careers .job-metas span {
  border-right: 1px solid #dadada;
  color: #2d2d2d;
  letter-spacing: 0.55px;
  margin-right: 5px;    
  padding-right: 5px;    
}

.page-careers .job-metas span:last-child {
  border-right: none;
}

.page-careers .career-section .section-title {
  color: #006bc0;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 1.14px;
  line-height: 25px;
}

.page-careers .career-section .section-subtitle {
  color: #00bce7;
  font-size: 22px;
  font-weight: 300; 
  letter-spacing: 0.91px;
  line-height: 25px;       
  margin-bottom: 12px !important;
  margin-top: 30px;
}

.page-careers .career-summary {
  border-bottom: 1px solid #f6f6f6;
}

.page-careers .career-section .section-content, 
.page-careers .career-section .section-content p{
  margin: 20px 0 30px;
  font-family: "National-Light";
  color: #4a4a4a;
}

.page-careers .career-section .section-content p:last-child{
  margin-bottom: 0;
}

.page-careers .career-section .section-content a {
  color: #FFF;
}

.page-careers .career-section .section-content a:hover {
  color: #006bc0
}

.page-careers .career-summary .section-content, 
.page-careers .career-summary .section-content p {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.82px;
  font-family: "National-Light";
}

.page-careers .career-role .section-content{
  padding-top: 0;
}

.page-careers .career-role .section-content,
.page-careers .career-role .section-content p{
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.64px;
}

.page-careers .career-requirement .section-content{
  margin-top: 0;
}

.page-careers .career-requirement .section-content,
.page-careers .career-requirement .section-content p{
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.64px;
}

.page-careers .career-section .section-content ul{
  margin-top: 30px;
}

.page-careers .career-section .section-content ul li{
  margin-top: 15px;
}

.page-careers .career-section .section-content ul li::before {
  color: #4a4a4a;
  content: "\00b7";
  display: inline-block;
  font-size: 20px;
  height: 15px;
  line-height: 5px;
  margin-right: 15px;
  padding-top: 6px;
}

.page-careers .career-contacts a {
    color: #FFF;
}

.page-careers .career-contact-email {
  background-image: radial-gradient(circle 294px at 34.21% 1365.47%, #48d2f2 0%, #00bce7 100%);
  margin-top: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.page-careers .career-contact-email .section-content,
.page-careers .career-contact-email .section-content p{
  color: #ffffff;
  font-family: "National-Medium";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.6px;  
}

/* Responsive */
@media screen and (max-width: 992px) {
  .page-careers .job-separator {
    display: none !important;
  }
  .page-careers .job-section-title {
    margin-bottom: 35px !important;
  }
  .page-careers .job-box {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .page-careers .top-container {
    background-image: url('/app/uploads/2018/09/careers-bg-mobile@3x-1.png') !important;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 100%;
  }

  .page-careers .header-wrap #header, 
  .page-careers #mobile_header, 
  .page-careers #mobile_header h3 {
    background: #00bce7;
  }

  .page-careers .top-container h1 {
    color: white;
  }
}

@media screen and (max-width: 480px) {
  .page-careers .job-box h4 {
    min-height: unset;
  }
  .page-careers .job-box .button-white-black a, 
  .page-careers .job-box .button-white-black a:active {
      width: 100%;
      display: block;
      font-family: "National-Medium";
      font-size: 16px !important;
      font-weight: 300;
      letter-spacing: 0.73px;
      text-align: center;
      padding-top: 12px !important;
      padding-bottom: 12px !important;
  }

  .page-careers .job-box {
    margin-bottom: 55px;
  }

  .page-careers .top-container-inner {
      padding: 20px 10px;
  }

  .page-careers .top-container {
    margin-top: 0;
    min-height: 382px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 150px;
    background-image: url('/app/uploads/2018/09/careers-bg-mobile@3x-1.png') !important;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .page-careers .top-container-text p {
    color: #4a4a4a;
    font-family: "National-Light";
    font-size: 20px !important;
    font-weight: 300;
    letter-spacing: 0.91px;
    line-height: 22px !important;
  }
  .page-careers .job-section-title {
    margin-bottom: 18px !important;
    line-height: 1 !important;
  }
  .page-careers div#how-help {
      padding-top: 10px;
  }
}

@media (max-width: 375px) {
  .page-careers .job-rows{
      margin-top: 21px;  
  }  
  .page-careers .job-rows .job-separator{
    display: none;
  }
  .page-careers .job-rows .job-box{
    margin-bottom: 40px;
  }
  .page-careers .job-rows .job-box:last-child{
    margin-bottom: 0;
  }
  .page-careers .job-box .post-blurb {
      margin-bottom: 29px;
  }  
  .page-careers .job-box .button-white-black a{
    display: block;
    color: #4a4a4a;
    font-family: "National-Book";
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.73px;   
    text-align: center; 
  }
}

@media screen and (max-width: 480px) {
  .page-careers .single-job .post-title {
    text-align: center;
  }

  .page-careers .job-metas {
    margin-bottom: 25px;
    text-align: center;
  }  

  .page-careers .job-metas span.job-status{
    display: block;
    margin-right: 0;
    padding-right: 0;
  }  

  .page-careers .job-metas .job-type {
    border-right: none;
    margin-right: 0;
    padding-right: 0;      
  }  

  .page-careers .single-job .post-social > span{
    display: block;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .page-careers .single-job .post-social .button{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;    
    border-radius: 100%;
    height: 44px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 14px 15px;
    width: 44px;
  }

  .page-careers .career-contact-email {
    padding-bottom: 5px;
    padding-top: 5px;
  }  
  
  .page-careers .single-job .post_white_section .post-date-category {
    text-align: center !important;
  }

  .page-careers .single-job .post_white_section .post-date-category .post-social {
    text-align: center !important;
  }
}

@media screen and (max-width: 480px){
  .page-careers .footer-newsletter .mc-new-form .mc-field-group input {
    padding: 14px !important;
    max-width: none;
    width: 100%;
  }

  .page-careers .footer-newsletter .mc-new-form .mc-field-group {
    padding-left: 20px;
    padding-right: 20px;    
  }

  .page-careers .footer-newsletter .mc-new-form .mc-field-group input{
    padding: 14px !important;
    max-width: none;
    width: 100%;
  }  
}
/*************** CAREER PAGE ********************/