.adword-ty {
    background-position: bottom center;
    background-repeat: no-repeat;
    position: relative;
    bottom: -42px;
    background-size: contain;
}
.page-accounting-meeting-thank-you .content {
    padding-top: 0 !important;
}
.page-haven-accounting-services .header-wrap, .page-haven-accounting-services #mobile_header {
    display: none !important;
}
.page-haven-accounting-services .content {
    padding-top: 0 !important;
}
.page-haven-accounting-services h2 {
    line-height: 40px !important;
}
.page-haven-accounting-services .vc_column_container > .vc_column-inner {
    padding-left: 15px;
    padding-right: 15px;
}
.page-haven-accounting-services .header-number p {
    color: #006bc0;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1.14px;
    line-height: 25px;
    text-align: center;
}
.page-accounting-meeting-thank-you .header-wrap, .page-accounting-meeting-thank-you #mobile_header {
    display: none !important;
}
.page-accounting-meeting-thank-you .footer-newsletter-inner,
.page-accounting-meeting-thank-you .footer-newsletter_wrapper {
    background: #00bce7 !important;
}
.benefits-questions p a span {

    max-width: 75%;
    font-size: 17px;
}
.c-a-info {
    width: 48%;
    float: left;
    padding-right: 1%;
}
.c-a-info:last-child {
    padding-right: 0;
    padding-left: 1%;
}
.header-number p {
    color: #006bc0 !important;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1.14px;
    line-height: 25px;
    text-align: center;
}
@media (min-width: 426px) {
    .page-haven-accounting-services .header-number p, .page-accounting-meeting-thank-you .header-number p {
        text-align: right;
    }
}
.page-haven-accounting-services .client-testi {
    position: relative;
}
.page-haven-accounting-services .client-testi:before {
    background: url('/app/uploads/2019/03/testi-bullet.png') center no-repeat;
    content: '';
    position: absolute;
    top: 0px;
    left: -94px;
    width: 44px;
    height: 29px;
}
.page-haven-accounting-services .client-testi.client-testi-top:before {
    top: 90px;
}
.page-haven-accounting-services .client-testi img {
    height: 50px;
    width: auto;
}
.page-haven-accounting-services .client-testi p {
    padding-right: 46px;
}
.page-haven-accounting-services .client-testi strong {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.55px;
    text-transform: uppercase;
    color: #00bce7;
}
.page-haven-accounting-services .button-blue a {
    font-size: 13px !important;
}
.page-haven-accounting-services .button-darkblue a {
    background-image: url(/app/uploads/2019/03/darkblue.png) !important;
    background-color: #fff !important;
    color: #00bce7 !important;
    border: 1px solid #fff !important;
}
.page-haven-accounting-services .button-darkblue a:hover {
    color: #fff !important;
    background-color: #006bc0 !important;
    border: 1px solid #fff !important;
}
.page-haven-accounting-services .adwords-header {
    background-position: bottom center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    background-size: contain;
}
.page-haven-accounting-services .banner-content {
    max-width: 520px;
}
.page-haven-accounting-services .benefits {
    position: relative;
    z-index: 1;
    margin-top: -128px;
}
.page-haven-accounting-services .benefits img {
    max-height: 170px;
    width: auto;
}
.page-haven-accounting-services .contact-p p {
    color: #fff;
}
.page-haven-accounting-services .contact-details p {
    color: #fff;
    font-size: 12px;
}
.page-haven-accounting-services .contact-details p a {
    color: #fff;
    font-size: 32px;
    line-height: 40px;
}
.page-haven-accounting-services .contact-details p strong {
    font-size: 32px;
    line-height: 40px;
}
.page-haven-accounting-services .contact-form {
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-family: 'National-Thin';
    background-color: #00bce7;
    padding: 29px 28px 0;
    border-radius: 5px;
}
@media (min-width:1024px){
    .page-haven-accounting-services .contact-form {
        margin-left: 60px;
    }    
}
.page-haven-accounting-services .contact-form-bottom {
    margin: 0;
    background-color: #fff;
}

.page-haven-accounting-services .contact-form label{
    position: absolute;
    right: 15px;
    top: 8px;
}
.page-haven-accounting-services .contact-form .gfield_required, .page-haven-accounting-services .required-wrap span {
    color: #d0021b;
}

.page-haven-accounting-services .contact-form .gform_wrapper ul li#field_18_1,
.page-haven-accounting-services .contact-form .gform_wrapper ul li#field_18_7,
.page-haven-accounting-services .contact-form .gform_wrapper ul li.gfield {
    width: 50%;
    float: left;
    clear: none;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    position: relative;
}
.page-haven-accounting-services .contact-form .gform_wrapper ul li.gfield {
    width: 100%;
}

.page-haven-accounting-services .contact-form li#field_18_5 {
    width: 100%;
    padding-right: 0;
}

.page-haven-accounting-services .contact-form .gfield_checkbox input,
.page-haven-accounting-services .contact-form-bottom .gfield_checkbox input {
    margin: 20px 0 !important;
}
.page-haven-accounting-services .contact-form .gfield_checkbox label {
    color: #fff;
}
.page-haven-accounting-services .contact-form-bottom .gfield_checkbox label {
    color: #afafaf;
}
.page-haven-accounting-services .contact-form li#field_18_5 {
    width: 100%;
    padding-right: 0;
}
.page-haven-accounting-services .contact-form input, 
.page-haven-accounting-services .contact-form textarea {
    width: 100% !important; 
    color: #fff !important;
    font-family: 'National-Light' !important;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.64px;
    border-bottom: 1px solid #dcdcdc;
    background: none;
}
.page-haven-accounting-services .contact-form select,
.home-contact.contact-form select{
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23FFFFFF'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat right center;
    background-size: 5% 50%;
    -moz-appearance: none !important; 
    -webkit-appearance: none !important; 
    appearance: none !important;
    /* and then whatever styles you want*/
    width: 100% !important; 
    color: #fff !important;
    font-family: 'National-Light' !important;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.64px;
    border-bottom: 1px solid #dcdcdc;
}
.page-haven-accounting-services .contact-form.contact-form-bottom select,
.contact-form.contact-page select {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23AFAFAF'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat right center;
    background-size: 5% 50%;
    -moz-appearance: none !important; 
    -webkit-appearance: none !important; 
    appearance: none !important;
}
.home-contact.contact-form select,
.contact-form.contact-page select {
    background-position: top 15px right 10px;    
}
.page-haven-accounting-services .contact-form ::placeholder {
    color: #fff;
}
.page-haven-accounting-services .contact-form.contact-form-bottom ::placeholder, 
.page-haven-accounting-services .contact-form.contact-form-bottom input, 
.page-haven-accounting-services .contact-form.contact-form-bottom textarea, 
.page-haven-accounting-services .contact-form.contact-form-bottom select {
    color: #afafaf !important;
}
.page-haven-accounting-services .contact-form h2 {
    font-family: "National-Semibold";
}
.page-haven-accounting-services .contact-form textarea {
    border-top: none;
    border-left: none;
    border-right: none;
}

@media (max-width: 459px) {
    .page-haven-accounting-services .contact-form .gform_footer {
        position: relative;
    }
}
.page-haven-accounting-services .contact-form input#gform_submit_button_18,
.page-haven-accounting-services .contact-form input#gform_submit_button_13 {
    color: #00bce7 !important;
    font-family: 'National-Regular';
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.59px;
    padding: 2px 40px 1px 8px !important;
    border: 1px solid #FFF !important;
    background-color: #FFF !important;
    border-radius: 0px !important;
    background-image: url(/app/uploads/2019/03/ArrowButton_White-1.png) !important;
    background-repeat: no-repeat !important;
    background-position: 100%;
    text-decoration: none;
    width: 100%;
    margin: 0px !important;
    margin-right: 5px !important;
    position: relative;
    text-transform: none;
    background-size: contain;
}
.page-haven-accounting-services .contact-form.contact-form-bottom input#gform_submit_button_18,
.page-haven-accounting-services .contact-form.contact-form-bottom input#gform_submit_button_13 {
    color: #fff !important;
    border: 1px solid #00bce7 !important;
    background-color: #00bce7 !important;
    border-radius: 0px !important;
    background-image: url(/app/uploads/2019/03/ArrowButton_Blue-transparent.png) !important;
    background-size: contain;
    background-repeat: no-repeat !important;
    background-position: 100%;
}

.page-haven-accounting-services .contact-form .gform_wrapper select option {
    background: #00bce7 !important
}
.page-haven-accounting-services .contact-form.contact-form-bottom .gform_wrapper select option {
    background: #fff !important
}
.page-haven-accounting-services .required-wrap {
    position: absolute !important;
    bottom: -28px;
    left: 15px;
}
.page-haven-accounting-services .gform_wrapper li.gfield.gfield_error {
    border: none;
    background: none;
    padding-top: 0;
    padding-bottom: 0;
}
.page-haven-accounting-services .gform_wrapper .validation_message {
    display: none;
}
.page-haven-accounting-services .gform_wrapper li.gfield.gfield_error.gfield_contains_required {
    padding-right: 16px;
}
.page-haven-accounting-services .gform_wrapper li.gfield_error input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']), 
.page-haven-accounting-services .gform_wrapper li.gfield_error textarea {
    border-top: none;
    border-left: none;
    border-right: none;
}
.page-haven-accounting-services .haven-story {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 20px;
}
.page-haven-accounting-services .haven-story p {
    color: #fff;
}
.page-haven-accounting-services .haven-story p:first-child {
    font-size: 25px !important;
    font-weight: 300;
    letter-spacing: 1.14px;
    line-height: 25px !important;
}
.page-haven-accounting-services .haven-story .sub p {
    font-size: 24px !important;
    line-height: 26px !important;
}
.page-haven-accounting-services .haven-story .button-blue a {
    background-color: transparent !important;
    border: 1px solid #fff !important;
}
.page-haven-accounting-services .haven-story-content {
    max-width: 600px;
    margin: 0 auto ;
}
.page-accounting-meeting-thank-you .header-wrap, .page-accounting-meeting-thank-you #mobile_header {
    display: none !important;
}
.page-accounting-meeting-thank-you .content {
    padding-top: 0 !important;
}
h2 {
    line-height: 40px !important;
}
.vc_column_container > .vc_column-inner {
    padding-left: 15px;
    padding-right: 15px;
}
.header-number p {
    color: #006bc0;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1.14px;
    line-height: 25px;
    text-align: center;
}
@media (min-width: 426px) {
    .header-number p {
        text-align: right;
    }
}

.c-a-info {
    width: 48%;
    float: left;
    padding-right: 1%;
}
.c-a-info:last-child {
    padding-right: 0;
    padding-left: 1%;
}
.c-a-content {
    max-width: 422px;
    margin: 0 auto 22px;
}
.c-a-info p {
    font-size: 20px !important;
    font-weight: 300;
    letter-spacing: 0.91px;
    line-height: 25px !important;
}

.page-accounting-meeting-thank-you .benefits-questions a {
  text-decoration: none;
  color: #4a4a4a;
  font-size: 20px;
}
.page-accounting-meeting-thank-you .benefits-questions a:hover {
  color: #006bc0;
}
.page-accounting-meeting-thank-you .benefits-questions p {
  background-repeat: no-repeat;
  background-position: 100% 50%;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #dcdcdc;
}
.page-accounting-meeting-thank-you .benefits-questions.c-a-info p {
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 18px !important;
}
.page-accounting-meeting-thank-you .benefits-questions.c-a-info p:last-child {
    border-bottom: none;
}
.page-accounting-meeting-thank-you .benefits-questions.c-a-info p:first-child {
    font-size: 18px !important;
    text-transform: none;
}
.page-accounting-meeting-thank-you .benefits-questions p:after {
  content: '';
  background-image: url(/app/uploads/2017/08/arrow-benefits.png);
  width: 12px;
  height: 9px;
  position: absolute;
  top: 8px;
  right: 0;
  float: right;
}
.page-accounting-meeting-thank-you .benefits-questions p a {
  display: flex;
  align-items: center;
}
.page-accounting-meeting-thank-you .benefits-questions p a i {
  top: 0 !important;
  padding-right: 14px !important;
  font-size: 16px;
}
.page-accounting-meeting-thank-you .benefits-questions p a span {
  max-width: 75%;
  font-size: 17px;
}
.page-accounting-meeting-thank-you .benefits-questions.social img {
    max-height: 26px;
    width: auto;
    margin-right: 14px;
}
.adword-ty {
    background-position: bottom center;
    background-repeat: no-repeat;
    position: relative;
    bottom: -42px;
    background-size: contain;
}
/*contact page start*/
.page-contact-our-accounting-team h3 {
    line-height: 40px !important;
}
.page-contact-our-accounting-team .vc_column_container > .vc_column-inner {
    padding-left: 15px;
    padding-right: 15px;
}
.page-contact-our-accounting-team .contact-form{
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-family: 'National-Thin';
}

.page-contact-our-accounting-team .contact-form label{
    position: absolute;
    right: 15px;
    top: 8px;
}
.page-contact-our-accounting-team .contact-form .gfield_required, 
.page-contact-our-accounting-team .required-wrap span {
    color: #d0021b;
}

.page-contact-our-accounting-team .contact-form .gform_wrapper ul li.gfield {
    width: 50%;
    float: left;
    clear: none;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    position: relative;
}
.page-contact-our-accounting-team .contact-form .gform_wrapper ul li.gfield.full {
    margin-top: 10px;
    width: 100%;
    
}

.page-contact-our-accounting-team .contact-form li#field_17_5 {
    width: 100%;
    margin-top: 18px;
    padding-right: 0;
}
.page-contact-our-accounting-team .contact-form .ginput_container_checkbox {
    margin: 0 !important;
}
.page-contact-our-accounting-team .contact-form .ginput_container_checkbox label {
    position: relative;
    top: 0;
    left: 10px;
}

.page-contact-our-accounting-team .contact-form input, 
.page-contact-our-accounting-team .contact-form textarea, 
.page-contact-our-accounting-team .contact-form select{
    width: 100% !important; 
    color: #2d2d2d !important;
    font-family: 'National-Light' !important;
    font-size: 18px !important;
    font-weight: 300 !important;
    letter-spacing: 0.64px !important;
    border-bottom: 1px solid #dcdcdc;
}

.page-contact-our-accounting-team .contact-form select{
    padding-left: 0 !important;
    -webkit-appearance: menulist-button !important;
}

.page-contact-our-accounting-team .contact-form ::placeholder {
    color: #2d2d2d !important;
}

.page-contact-our-accounting-team .contact-form textarea{
        border: 1px solid #dcdcdc;
}

.page-contact-our-accounting-team .contact-form .gform_footer{
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: 6px;
}

@media (max-width: 459px) {
    .page-contact-our-accounting-team .contact-form .gform_footer {
        position: relative;
    }
}
.page-contact-our-accounting-team .contact-form .gform_footer {

    width: auto;
    right: 0;
}
.page-contact-our-accounting-team .contact-form input#gform_submit_button_17,
.page-contact-our-accounting-team .contact-form input#gform_submit_button_14 {
    color: #ffffff !important;
    font-family: 'National-Regular';
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.59px;
    padding: 2px 40px 1px 8px !important;
    border: 1px solid #00bce7 !important;
    background-color: #00bce7 !important;
    border-radius: 0px !important;
    background-image: url(/app/uploads/2017/08/button-arrow.png) !important;
    background-repeat: no-repeat !important;
    background-position: 100%;
    text-decoration: none;
    width: 90px !important;
    margin: 0px !important;
    float: right;
    margin-right: 5px !important;
    position: relative;
}
@media (min-width: 768px) {
    .page-contact-our-accounting-team .contact-form input#gform_submit_button_17,
    .page-contact-our-accounting-team .contact-form input#gform_submit_button_14 {    
        top: -40px;
    }
}
.page-contact-our-accounting-team .required-wrap {
    position: absolute !important;
    bottom: -28px;
    left: 15px;
}
.page-contact-our-accounting-team .c-a-content {
    margin: unset !important;
    padding-bottom: 20px;
}
.page-contact-our-accounting-team .c-a-content p {
    font-size: 25px !important;
    line-height: 30px !important;
    letter-spacing: 1.14px;
    font-family: 'National-Light';
}
.page-contact-our-accounting-team .c-a-info {
    width: 50%;
    float: left;
}
.page-contact-our-accounting-team .c-a-info p {
    font-size: 20px !important;
    font-weight: 300;
    letter-spacing: 0.91px;
    line-height: 25px !important;
}
.page-contact-our-accounting-team .c-a-info p:first-child {
    font-size: 12px !important;
    font-weight: 500;
    letter-spacing: 0.55px;
    text-transform: uppercase;
    color: #00bce7;
    margin-bottom: 0;
}
.page-contact-our-accounting-team .gform_wrapper li.gfield.gfield_error {
    border: none;
    background: none;
    padding-top: 0;
    padding-bottom: 0;
}
.page-contact-our-accounting-team .gform_wrapper .validation_message {
    display: none;
}
.page-contact-our-accounting-team .gform_wrapper li.gfield.gfield_error.gfield_contains_required {
    padding-right: 16px;
}
.page-contact-our-accounting-team .gform_wrapper li.gfield_error input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']), 
.page-contact-our-accounting-team .gform_wrapper li.gfield_error textarea{
    border-top: none;
    border-left: none;
    border-right: none;
}

.page-contact-our-accounting-team .benefits-questions a {
  text-decoration: none;
  color: #4a4a4a;
  font-size: 20px;
}
.page-contact-our-accounting-team .benefits-questions a:hover {
  color: #006bc0;
}
.page-contact-our-accounting-team .benefits-questions p {
  background-repeat: no-repeat;
  background-position: 100% 50%;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #dcdcdc;
}
.page-contact-our-accounting-team .benefits-questions.c-a-info p {
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.page-contact-our-accounting-team .benefits-questions.c-a-info p:last-child {
    border-bottom: none;
}
.page-contact-our-accounting-team .benefits-questions.c-a-info p:first-child {
    font-size: 18px !important;
    text-transform: none;
}
.page-contact-our-accounting-team .benefits-questions p:after {
  content: '';
  background-image: url(/app/uploads/2017/08/arrow-benefits.png);
  width: 12px;
  height: 9px;
  position: absolute;
  top: 8px;
  right: 0;
  float: right;
}
.page-contact-our-accounting-team .benefits-questions p a {
  display: flex;
  align-items: center;
}
.page-contact-our-accounting-team .benefits-questions p a i {
  top: 0 !important;
}
.page-contact-our-accounting-team .benefits-questions p a span {
  max-width: 75%;
}
.page-contact-our-accounting-team #success-contact {
    display: none;
}
.page-contact-our-accounting-team .gform_wrapper.gf_browser_chrome select {
    padding: 6px 0 2px 3px !important;
}

/*contact page end*/
@media (min-width: 2000px) {
    .adword-ty {
        bottom: -196px;
    }    
}
.page-accounting-meeting-thank-you .footer-newsletter-inner,
.page-accounting-meeting-thank-you .footer-newsletter_wrapper{
    background: #00bce7;
}
.page-accounting-meeting-thank-you .footer-newsletter .gform_footer input[type=submit] {
    background-color: #fff;
    border: 1px solid #fff;
    color: #00bce7!important;
}
@media screen and (max-width: 768px) {
    .page-contact-our-accounting-team .vc_col-sm-6 {
        width: 100%;
        float: unset;
    }
    .page-contact-our-accounting-team .contact-form .gform_footer {
        width: auto;
        right: 0;
        position: relative;
        left: 0;
        right: unset;
        padding: 10px 0;
    }
    .c-a-content {
        max-width: unset;
        padding: 0 10%;
    }
    .page-contact-our-accounting-team .c-a-info {
        padding-left: 10%;
    }
    .page-contact-our-accounting-team .c-a-info:last-child {
        padding-right: 10%;
        padding-left: unset !important;
    }

}
@media screen and (max-width: 600px) {
    .adwords-header.vc_custom_1552264431812 {
        background: none !important;
    }
    .contact-send h2 {
        font-size: 8vw !important;
    }
    .haven-story .wpb_text_column p {
        font-size: 4vw !important;
        padding: 0 5vw !important;
    }
    .client-testi p {
        padding-right: 0px !important;
        text-align: justify;
    }
    .contact-details p:nth-of-type(odd) {
        margin-bottom: 0px !important;
    }
    .contact-form {
        padding: 20px 10px !important;
    }
    .c-a-info, .c-a-info:last-child {
        width: 100% !important;
    }
    .c-a-info {
        border-bottom: 1px solid #dcdcdc;
        margin-bottom: 10px !important;
        padding-bottom: 0px;
    }
    .adword-ty {
        bottom: unset !important;
    }
    .benefits-questions.c-a-info p:last-child {
        margin-bottom: 0px;
    }
    .adword-ty.vc_custom_1552266289853 {
        background-image: none !important;
    }
    .adword-ty .vc_empty_space {
        height: 60px!important;
    }
    /*contact us*/

    .page-contact-our-accounting-team .contact-form .gform_wrapper ul li.gfield {
        float: unset;      
        width: 100%; 
    }
    .page-contact-our-accounting-team .contact-form .vc_column-inner{
        padding:0px !important;
    }
    .page-contact-our-accounting-team .contact-form {
        padding-left: 10px !important;
        padding-right: 5px !important
    }
    .page-contact-our-accounting-team .contact-form .gform_footer {
        padding-left: 0px;
        padding-right: 0px;
    }
    .c-a-content {
        max-width: unset;
        padding: 0% !important;
    }
    .page-contact-our-accounting-team .c-a-info {
        padding-left: 0% !important;
    }
    .page-contact-our-accounting-team .c-a-info:last-child {
        padding-right: 0% !important;
        padding-left: unset !important;
    }
    .page-contact-our-accounting-team .contact-form input#gform_submit_button_14 {
        /*float: unset;*/
        top: unset;
        /*width: 100% !important;*/
    }
    .page-contact-our-accounting-team .c-a-info.benefits-questions {
        margin-top: 20px;
    }
}