.mc-new-form {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 75%;
    text-align: center;
}

.mc-new-form .mc-field-group {
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .mc-new-form {
        display: block;
    }

    .mc-new-form .gform_heading {
        margin-bottom: 10px;
    }

    .mc-new-form .mc-field-group {
        margin-bottom: 10px;
        margin-right: 0;
    }
}