#wrapper { overflow-x: hidden !important }
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}
.play-me { z-index: 1 !important }
.noPadd { padding:0px !important; }
.vidImgBanner { padding-top: 75px; }
.vidImgBanner video { max-height: 560px; overflow: hidden; background: #00bce7 }
.vidImgBanner .owl-theme .owl-nav { display: none; }
.vidImgBanner .owl-theme .owl-dots { position: absolute; bottom: 10px; width: 100%; text-align: center; }
.vidImgBanner .owl-theme .owl-dots .owl-dot { border: 0; background: transparent;  }
.vidImgBanner .owl-theme .owl-dots .owl-dot:focus {outline:0;}
.top-home .top-container-text {
    padding: 32px;
    background-color: rgba(0, 188, 231, 0.75);
    border-radius: 5px;
    margin: 10% auto 16%;
    display: inline-block;
    max-width: 350px;
}
.top-home .top-container-text h1 {
    font-size: 3rem
}
.top-home .bg {
    background-image: url(https://haven.co.nz/app/uploads/2017/08/Homepage_Banner_DadSon-1-1.jpg?id=2983) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    max-height: 560px;
    height: 560px;
}
.top-home .owl-theme .owl-dots .owl-dot.active span, 
.top-home .owl-theme .owl-dots .owl-dot:hover span {
    background: white;
}
.owl-carousel .owl-wrapper {
    display: flex !important;
}
.owl-carousel .owl-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: initial;
}
.forDesktop { display: block; }
.forDesktopImg { display: block; }
.forMobileImg { display: none; }
.forMobile { display: none !important; }
.forIpad { display: none !important; width: 100%; }
.carousel-indicators li:last-child {
    display: none;
}

@media screen and (max-width: 1024px) {
    .top-home .bg { height: 100%; max-height: 443px }
    .vidImgBanner video { height: 100%;/* min-height: 450px*/  }
    .forDesktop { display: none !important; }
    .forMobile { display: none !important; }
    .forIpad { display: block !important; }
}
@media screen and (max-width: 980px) {
    .vidImgBanner { padding-top: 0px }
    .top-home .bg { /*height: 330px !important; max-height: 330px*/ }
}
@media screen and (max-width: 680px) {                
    .top-home .top-container-text { margin:7% 0; font-size: 2rem; }
}
@media screen and (max-width: 480px) {
    .forDesktopImg { display: none !important; }
    .forMobileImg { display: block !important; }
    .top-home .bg {min-height: 700px; max-height: 100%; }
    .top-home .top-container-text { top: 20% !important; left: 9% !important }
    .top-home img {min-height: 560px; }
    .top-home h1 { font-size: 2rem}
    .forMobile { display: block !important; }
    .forDesktop { display: none !important; }
    .forIpad { display: none !important; }

}
@supports (-webkit-overflow-scrolling: touch) {
    /* CSS specific to iOS devices */ 
    @media screen and (max-width: 1024px) {
        .forDesktop { display: none; }
        .forMobile { display: none !important; }
        .forIpad { display: block !important; }
    }
    @media screen and (max-width: 480px) {
        .forMobile { display: block !important; }
        .forDesktop { display: none !important; }
        .forIpad { display: none !important; }
    }
}
@media screen and (max-width: 414px) {
  .contact-form .gform_footer {
    padding:0px !important;
    bottom:-5px !important;
  }
  .contact-form input#gform_submit_button_5 {
      width: 100% !important;
      float: none !important;
  }
}
