#kiwisaver-calc {
    background-color: #f6f6f6;
    margin-bottom: 3%;
    padding-top: 1vw;
}

#kiwisaver-calc .chart-container {
    margin: 1.3vw auto 0;
}

body #kiwisaver-calc h2 {
    color: #006bc0;
    font-family: "National-Light", serif;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1.14px;
    line-height: 25px !important; /*overridding !important from global*/
    margin-bottom: 40px !important; /*overridding !important from global*/
    text-align: center;
}

#kiwisaver-calc .form {
    color: #2d2d2d;
    font-family: "National-Light", serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.91px;
    line-height: 25px;
    text-align: center;
}

#kiwisaver-calc input,
#kiwisaver-calc select {
    border-color: #979797;
    color: #006bc0;
    font-family: "National-Light", serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.91px;
    line-height: 25px;
}

#kiwisaver-calc select {
    background-image: url("../images/drodown.png");
    background-position: 90%;
    background-repeat: no-repeat;
    padding-right: 15px;
    text-align: center;
    text-align-last: center;
}

#kiwisaver-calc .width-dynamic {
    max-width: 160px;
    min-width: 75px;
}

#kiwisaver-calc #kiwisaver-balance {
    min-width: 95px;
}

#kiwisaver-calc form > .row {
    margin-bottom: 18px;
}

.calculator-container .accordion_this .accordion_head {
    border-bottom: 1px solid #dcdcdc;
    color: #4a4a4a;
    font-family: "National-Medium", serif;
    font-size: 12px !important;
    font-weight: 500;
    letter-spacing: 0.55px;
    line-height: 100% !important;
    padding: 7px 0;
    position: relative;
}

.calculator-container .accordion_this .accordion_content {
    display: none
}

.calculator-container .accordion_this .accordion_head .accordion_btn {
    height: 13px;
    position: absolute;
    right: 0;
    top: 0;
    width: 13px;
}

.calculator-container .accordion_this .accordion_head .accordion_btn:before,
.calculator-container .accordion_this .accordion_head .accordion_btn:after {
    background-color: #9b9b9b;
    content: "";
    position: absolute;
    transition: transform 0.25s ease-out;
}

/* Vertical line */
.calculator-container .accordion_this .accordion_head .accordion_btn:before {
    height: 100%;
    left: 50%;
    margin-left: 0;
    margin-top: 1px;
    top: 0;
    width: 1px;
}

/* horizontal line */
.calculator-container .accordion_this .accordion_head .accordion_btn:after {
    height: 1px;
    left: 0;
    margin-top: 1px;
    top: 50%;
    width: 100%;
}

.calculator-container .accordion_this .accordion_head .accordion_btn:hover {
    cursor: pointer;
}

.calculator-container .accordion_this .accordion_head.open .accordion_btn:before {
    transform: rotate(45deg);
}

.calculator-container .accordion_this .accordion_head.open .accordion_btn:after {
    transform: rotate(220deg);
}

.calculator-container .accordion_this .accordion_head.mobile {
    display: none;
}

.calculator-container .accordion_this .accordion_content p,
.calculator-container .accordion_this .accordion_content li,
.calculator-container .accordion_this .accordion_content table th,
.calculator-container .accordion_this .accordion_content table td {
    color: #4a4a4a;
    font-family: "National-Book", serif;
    font-size: 12px !important;
    font-weight: 300;
    letter-spacing: 0.55px;
    line-height: 100% !important;
}

@media screen and (min-width: 1024px) {
    #kiwisaver-calc .chart-container {
        max-width: 840px;
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    #kiwisaver-calc .chart-container {
        width: 100%
    }

    .calculator-container .accordion_this .accordion_head.mobile {
        margin-top: -35px;
    }

    .calculator-container .accordion_this .accordion_head.mobile.open {
        margin-top: 0
    }

    .calculator-container .accordion_this .accordion_head {
        font-size: 12px !important
    }

    .calculator-container .accordion_this .accordion_head .accordion_btn {
        display: none;
    }

    .calculator-container .accordion_this .accordion_head.desktop {
        opacity: 0
    }

    .calculator-container .accordion_this .accordion_head.desktop.open {
        opacity: 1;
        transition: all 0.5s;
    }

    .calculator-container .accordion_this .accordion_head.mobile {
        border: 1px solid #9b9b9b;
        border-radius: 50px;
        color: #4a4a4a;
        display: block;
        font-family: "National-Light", serif;
        font-size: 14px !important;
        font-weight: 300 !important;
        letter-spacing: 0.59px;
        line-height: 17px !important;
        padding: 11px 5px;
        text-align: center !important;
    }

    .calculator-container .accordion_this .accordion_head.desktop .accordion_btn {
        display: none;
    }

    .calculator-container .accordion_this .accordion_content p {
        color: #4a4a4a;
        font-family: "National-Book", serif;
        font-size: 12px !important;
        font-weight: 300;
        letter-spacing: 0.65px;
        line-height: 130% !important;
    }
}

@media screen and (max-width: 768px) {
    #kiwisaver-calc .form {
        text-align: left;
    }
}