#navigation-about {
    text-align:center;
    margin: 0 auto;
    display: block;
}
#navigation-about ul li {
    display:inline-block;
}
#navigation-about ul li a {
    color:white;
    margin: 0 10px;
    text-align:center;
    text-transform: uppercase;
}
.header-wrap #header.scrolling.lighten {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header-wrap #header.scrolling #logo img {
    visibility: visible;
}
.page-our-story #header {
    background-color: rgba(255, 255, 255, 0.1);
}
.page-our-story header {
    background: transparent;
}
.page-our-story .content {
    padding-top: 0px;
}
.page-our-story .header-about {
    display:none;
    position: fixed;
    top: 105px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    z-index: 999;
    min-height: 50px;
    transition: all 0.5s ease;
}
.page-our-story .header-about .menu-about-menu-container {
    max-width: 1020px;
    margin: 0 auto;
}
.page-our-story .header-about .menu-about-menu-container ul {
    text-align: center;
}
.page-our-story .header-about .menu-about-menu-container ul li {
    display: inline-block; 
    padding: 10px;
}
.page-our-story .header-about .menu-about-menu-container ul li a {
    color: #2d2d2d;
    font-size: 17px;
    font-family: 'National-Regular';
    font-weight: 500;
    letter-spacing: 1.6px;
    background: none;
    border: 0px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 18px 16px;
}
.page-our-story .header-about.fixed {
    display:block
}
.page-our-story .header-wrap #header #logo {
    background: url(/app/themes/BBTFramework/images/logo-white.png) top center no-repeat;
    background-size: 132px 34px;
}
.page-our-story .header-wrap #header #logo img {
    visibility: hidden;
    width: 132px;
    height: auto;
}
.page-our-story #navigation ul.nav > li > a {
    color:white;
    position: relative;
}
.page-our-story .header-wrap #header.scrolling #navigation ul > li a {
    color: #2d2d2d;
    font-family: 'National-Regular';
    
    font-weight: 500;
    letter-spacing: 1.6px;
    
    background: none;
    border: 0px;
    text-decoration: none;
    padding: 12px 16px 6px 16px;
}
.page-our-story .header-wrap #header.scrolling #navigation .sub-menu li a {
    
    font-family: 'National-Light';
}
.page-our-story .story-intro h2 {
    color: #00bce7;
    font-family: "National-Light";
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 1.82px;
    line-height: 40px !important;
    margin-bottom: 25px !important;
}

.page-our-story .story-intro h4 {
    color: #006bc0;
    font-family: "National-Light";
    font-size: 20px !important;
    font-weight: 300;
    letter-spacing: 0.91px;
    line-height: 25px !important;
}
.page-our-story .story-intro .wpb_wrapper p {
    color: #4a4a4a;
    font-family: "National-Book";
    font-size: 16px !important;
    font-weight: 300;
    letter-spacing: 0.73px;
}
.page-our-story .introduction p {
    color: #006bc0;
    font-family: "National-Light";
    font-size: 20px !important;
    font-weight: 300;
    letter-spacing: 0.91px;
    line-height: 25px !important;
}
.page-our-story .story-banner .vc_row-o-content-middle {
    padding-top: 6%;
}
.page-our-story .story-banner p {
    color: #ffffff;
    font-family: "National-Light";
    font-size: 40px !important;
    font-weight: 300;
    letter-spacing: 1.82px;
    line-height: 40px !important;
}
.page-our-story .story-story p,
.page-our-story .story-info p {
    color: #4a4a4a;
    font-family: "National-Book";
    font-size: 16px !important;
    font-weight: 300;
    letter-spacing: 0.73px;
}
.page-our-story .story-info .vc_col-lg-6 {
    margin-bottom: 20px;
}
.page-our-story .story-info .vc_col-lg-6 p {
    padding: 0 20px;
    color: #4a4a4a;
    font-family: "National-Book";
    font-size: 16px !important;
    font-weight: 300;
    letter-spacing: 0.73px;
}
.page-our-story .story-info .item p {
    padding: 0 30px;
    color: #4a4a4a;
    font-family: "National-Light";
    font-size: 14px !important;
    font-weight: 300;
    letter-spacing: 0.64px;
}
.page-our-story h3 {
    color: #00bce7;
    font-family: "National-Light";
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.91px;
    line-height: 25px;
}
.page-our-story h4 {
    color: #006bc0;
    font-family: "National-Light";
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1.14px;
    line-height: 25px;
}

.page-our-story .story-banner .wpb_text_column {
    padding: 0 30px;
}
.page-our-story .story-banner {
    min-height: 582px;
    position: relative;
}
.page-our-story .story-info {
    min-height: 382px;
    padding: 139px 0;
    position: relative;
}
.page-our-story .story-intro {
    min-height: 382px;
    position: relative;
}

.page-our-story .story-client {
    min-height: 382px;
    padding: 50px 0 90px;
    position: relative;
}
.page-our-story .story-adviser {
    min-height: 382px;
    padding: 60px 0;
    position: relative;
}
.page-our-story .story-clients .item {
    padding: 0 30px;
    border-bottom: 0px !important;
}
.page-our-story .story-clients h2 {
    color: #ffffff;
    font-family: "National-Light";
    font-size: 40px !important;
    font-weight: 300;
    letter-spacing: 1.82px;
    line-height: 40px !important;
    margin-bottom: 50px;
}
.page-our-story .story-clients p {
    color: #ffffff;
    font-family: "National-Light";
    font-size: 20px !important;
    font-weight: 300;
    letter-spacing: 0.91px;
    line-height: 25px !important;
}
.page-our-story .story-clients small {
    color: #dcdcdc;
    font-family: "National-Medium";
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.59px;
    text-transform: uppercase;
}
.page-our-story .nav-bottom {
    position:absolute;
    bottom: 0;
    width:100%;
}
.page-our-story .story-info .item {
    padding: 0 30px;    
    visibility: hidden;
}
.page-our-story .story-info .item.one {
    animation-delay: 0.5s;
}
.page-our-story .story-info .item.two {
    animation-delay: 1s;
}

.page-our-story .story-info .item.three {
    animation-delay: 1.5s;
}
.page-our-story .story-info .item img {
    max-height: 150px;
    width: auto;
}
.page-our-story .story-info .item.borders {
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
}
.page-our-story .story-client {
    min-height: 382px;
    padding: 139px 0 60px;
}
.page-our-story .story-client h2 {    
    color: #00bce7;
    font-family: "National-Light";
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.91px;
    line-height: 25px;
}
.page-our-story .story-client .item {
    text-align: center;
    padding: 30px;
    margin: 40px 0;
}
.page-our-story .story-client .item .wpb_content_element {
    margin-bottom: 0;
}
.page-our-story .story-client .item.borders {
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
}
.page-our-story .story-client .item h4, .page-our-story .story-client .item h4 span {
    color: #006bc0;
    font-family: "National-Light";
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 2.73px;
    line-height: 40px !important;
    min-height: 50px;
}
.page-our-story .story-client .item h4 span.small {
   font-size: 30px;
}
.page-our-story .story-client .item p {
    text-align:center !important;
    color: #4a4a4a;
    font-family: "National-Light";
    font-size: 14px !important;
    font-weight: 300;
    letter-spacing: 0.64px;
}

.page-our-story .map .area.active {
    background: url('/app/uploads/2019/03/active@2x.png') no-repeat;
    background-size: 100%;
    height: 27px;
    width: 18px;
}

.page-our-story .map .area {
    position: absolute;    
    background: url('/app/uploads/2019/03/map-pin-big.png') no-repeat;
    background-size: contain;
    height: 27px;
    width: 18px;
} 
.page-our-story .map .area:hover {
    width: 22px;
    height: 35px;
    background-size: auto 100%;
}
.page-our-story .map .area.map-1 {
    animation-delay: 0.10s;
    left: 197px;
    top: 23px;
}
.page-our-story .map .area.map-2 {
    animation-delay: 0.20s;
    left: 210px;
    top: 66px;
}
.page-our-story .map .area.map-3 {
    animation-delay: 0.30s;
    left: 214px;
    top: 84px;
}
.page-our-story .map .area.map-4 {
    animation-delay: 0.40s;
    left: 217px;
    top: 91px;
}
.page-our-story .map .area.map-5 {
    animation-delay: 0.50s;
    left: 245px;
    top: 103px;
}
.page-our-story .map .area.map-6 {
    animation-delay: 0.60s;
    left: 225px;
    top: 97px;
}
.page-our-story .map .area.map-7 {
    animation-delay: 0.80s;
    left: 256px;
    top: 125px;
}
.page-our-story .map .area.map-8 {
    animation-delay: 1.00s;
    left: 260px;
    top: 150px;
}
.page-our-story .map .area.map-9 {
    animation-delay: 1.20s;
    left: 220px;
    top: 179px;
}
.page-our-story .map .area.map-10 {
    animation-delay: 1.40s;
    left: 206px;
    top: 223px;
}
.page-our-story .map .area.map-11 {
    animation-delay: 1.60s;
    left: 166px;
    top: 223px;
}
.page-our-story .map .area.map-12 {
    animation-delay: 1.80s;
    left: 146px;
    top: 213px;
}
.page-our-story .map .area.map-13 {
    animation-delay: 2.00s;
    left: 146px;
    top: 307px;
}
.page-our-story .map .area.map-14 {
    animation-delay: 2.20s;
    left: 46px;
    top: 368px;
}
.page-our-story .map .area.map-15 {
    animation-delay: 2.40s;
    left: 40px;
    top: 410px;
}
.page-our-story .map .area.map-16 {
    animation-delay: 2.60s;
    left: 225px;
    top: 118px;
}
.page-our-story .map .area.map-17 {
    animation-delay: 2.80s;
    left: 56px;
    top: 347px;
}
.page-our-story .map .area.map-18 {
    animation-delay: 3.0s;
    left: 94px;
    top: 387px;
}

.page-our-story .adviser-locations ul {
    padding-left: 0;
    margin-right: 20px;
}
.page-our-story .adviser-locations ul li {
    list-style:none;
    color: #4a4a4a;
    font-family: "National-Light";
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.91px;
    line-height: 25px;
    padding-bottom:15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #dcdcdc;
}
.page-our-story .adviser-locations ul li:last-child {
    border-bottom: 0px;
    padding-bottom:0px;
    margin-bottom: 0px;
}
.page-our-story .story-adviser h2 {
    color: #00bce7;
    font-family: "National-Light";
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 1.82px;
    line-height: 40px !important;
    margin-bottom: 75px !important;
}

#navigation-about ul li i.material-icons {
    display: none;
}
.page-our-story .showThis {
    display: block !important;
}
.page-our-story .addHeight {
    height: 682px !important;
}
.page-our-story .highlight {
    color: #00bce7 !important;
}
.page-our-story .map-name a {
    color: #4a4a4a;
}
.page-our-story .map-name a:hover {
    color: #00bce7 !important;
}
.page-our-story .map-name.highlight a {
    color: #00bce7 !important;
}

.page-our-story .activePin {
    color: #00bce7 !important;
}
.page-our-story .activePin a {
    color: #00bce7 !important;
}
.page-our-story .top-menu-dropdown {
    visibility: hidden;
    text-align: center;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    font-family: 'National-Light';
    letter-spacing: 1.6px;
    margin: 0 auto 40px;
    display: block;
    cursor: pointer;
}
.page-our-story .story-banner  img {
    width: 60%;
}

#main-frames {
    visibility: hidden;
}
#frame-certificate {   
    position: absolute;
    top: 96px;
    animation-delay: 1s;
}
#frame-certificate img {  
    max-width: 132px
}
#frame-liberty {
    position: absolute;
    top: 0px;
    left: 141px;
    animation-delay: 1.5s;
}
#frame-liberty img {
    max-width: 121px;
}
#frame-wedding {
    position: absolute;
    top: 70px;
    left: 272px;
    animation-delay: 2s;
}
#frame-wedding img {
    max-width: 128px;
}
#frame-eiffel {
    position: absolute;
    left: 410px;
    top: 103px;
    animation-delay: 2.5s;
}
#frame-eiffel img {
    max-width: 162px;
}
#frame-baby {
    position: absolute;
    top: 152px;
    left: 190px;
    animation-delay: 3s;
}
#frame-baby img {
    max-width: 72px
}




/* ----------------------------------------------
 * Generated by Animista on 2019-3-26 16:5:1
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.fade-in-bottom {
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/**
 * ----------------------------------------
 * animation fade-in-right
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation scale-up-bottom
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}
@keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}
.scale-up-bottom {
    -webkit-animation: scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in-right {
    -webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in {
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/*.couch-dog {
    animation-delay: 4s;
}*/

@media screen and (max-width: 480px) {
    #main-frames {
        visibility: visible !important;
    }
    #frame-certificate, #frame-liberty, #frame-wedding, #frame-eiffel, #frame-baby {
        visibility: hidden !important;
    }
    .page-our-story div.map {
        max-width: 325px;
        position: absolute;
        top: 0;
        left: 7%;
    }
    .page-our-story .story-client .item h4, .page-our-story .story-client .item h4 span {
        font-size: 8vw !important;
    }
    .page-our-story .story-client .item h4 span.small {
        font-size: 6vw !important;
    }
}

@media screen and (max-width: 667px) and (orientation: landscape) {
    
    .page-our-story .map-img {
        margin: 0 auto;
        text-align: center;
        display: block;
    }
    .page-our-story div.map {
        max-width: 325px;
        position: absolute;
        top: 0;
        left: 25%;
    }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    .page-our-story .story-client .item h4, .page-our-story .story-client .item h4 span {
        font-size: 6vw;
    }
    .page-our-story .story-client .item h4 span.small {
        font-size: 4vw;
    }

    .page-our-story .map-img {
        margin: 0 auto;
        text-align: center;
        display: block;
    }
    .page-our-story .map {
        max-width: 471px;
        position: absolute;
        top: 0;
        left: 30%;
    }
}


@media screen and (height: 510px) {
    .page-our-story .story-banner {
        min-height: 382px;
    }
    .page-our-story .story-intro {
        padding: 10px 0;
    }
}

@media screen and (max-width: 680px) {
    .page-our-story .story-client {
        padding: 10% 0;
    }
    .page-our-story .story-info {
        padding: 10% 0;
    }
    .page-our-story .story-intro {
        padding: 10% 0;
    }
    ..page-our-story .story-clients {
        padding: 10% 0;
    }
    .page-our-story .story-adviser {
        padding: 10% 0;
    }
    .page-our-story .story-banner .vc_row-o-content-middle {
        padding-top: 0;
    }
    .page-our-story .story-client .item {
        margin: 0;
    }
    .page-our-story .item.borders {
        border-left: 0 !important;
        border-right: 0 !important;
    }
    .page-our-story .item {
        border-bottom: 1px solid #eaeaea !important;
    }
    .page-our-story .item:last-child {
        border-bottom: 0px !important;
    }
    #navigation-about ul  {
        display:none;
        transition: all 1s ease-in-out;
    }
    #navigation-about ul li {
        display:block;
    }
    .page-our-story .top-menu-dropdown {
        visibility: visible;
    }
    .page-our-story .top-menu-dropdown i.material-icons {
        display: block;
        color:white;
        position: absolute;
        top: -2px;
        right: 27%;
    }
    .page-our-story .top-menu-dropdown i.material-icons.active {
        transform: rotate(180deg);
    }

    .page-our-story .adviser-locations ul li:last-child {
        border-bottom: 1px solid #dcdcdc;
        padding-bottom:15px;
        margin-bottom: 15px;
    }
}

.page-our-story ul.mobile-map-select { 
    height: 30px;
    width: 100%;
    border: 1px solid #00bce7;
}
.page-our-story ul.mobile-map-select li { padding: 5px 10px; z-index: 2; }
.page-our-story ul.mobile-map-select li:not(.init) { float: left; width: 100%; display: none; }
.page-our-story ul.mobile-map-select li:not(.init):hover, ul li.selected:not(.init) { background: #00bce7; color: white }
.page-our-story .mobile-map-select li.init { 
	cursor: pointer; 
    padding-bottom: 0px !important;
    margin-bottom: 0x !important;
    border-bottom: 0px !important;
	background: url('/app/uploads/2019/03/arrow-down-a.png') no-repeat 98% center; 
}
.story-clients.testimonials {
    overflow: hidden;
}
.story-clients.testimonials .owl-item {
    display: inline-block;
}
.story-clients.testimonials .owl-nav {
    display: none;
}
.story-clients.testimonials .owl-dots {
    position: relative;
    z-index: 9;
    text-align: center;
    margin: 40px 0 20px;
}
.story-clients.testimonials .owl-dots button {
    background-color: transparent;
    border: 2px #fff solid;
    border-radius: 50%;
    margin: 0 5px;
    outline: none;
    height: 16px;
    padding: 10px;
    display: inline-block;
}
.story-clients.testimonials .owl-dots button.active {
    background-color: #fff;
}
.story-clients.testimonials .owl-dots button span {
    display: block;
    height: 10px;
}