body .pum-theme-default-theme {
    background-color: rgba( 255, 255, 255, .80 ) !important
}

body .pum-theme-default-theme .pum-container.pum-responsive.pum-responsive-medium {
    margin-left: -15%;
    width: 30%;
}

body .pum-theme-default-theme .pum-container {
    padding: 0;
}

body .pum-theme-default-theme .pum-title {
    margin-bottom: 20px;
}

body .pum-theme-default-theme .pum-content p {
    text-align: center;
}

body .pum-theme-default-theme h1,
body .pum-theme-default-theme h2,
body .pum-theme-default-theme h3 {
    color: #00bce7;
    font-family: 'National-Light';
    font-size: 40px;
    letter-spacing: 1.5px;
    margin: 50px 50px 30px;
    text-align: center;
}

body .pum-theme-default-theme .pop_content_text a,
body .pum-theme-default-theme .pop_content_text p a {
    padding: 10px 30px;
    background: #00bce7;
    color: white;
    margin-top: 30px;
    display: inline-block;
}

body .pum-theme-default-theme .pop_banner {
    max-height: 193px;
    overflow: hidden;
}

body .pum-theme-default-theme .pop_banner img {
    width: 100%;
}

body .pum-theme-default-theme .pop_content_text p {
    color: #4a4a4a;
    font-family: 'National-Regular';
    font-size: 20px;
    letter-spacing: 0.2px;
    line-height: 30px;
    margin-bottom: 0px;
    text-align: center;
}

body .pum-theme-default-theme .pop_content_text {
    padding: 0px 50px 50px
}

body .pum-theme-default-theme .pum-content + .pum-close {
    background: transparent;
    box-shadow: 0 0 0 0;
    color: white;
    font-size: 15px;
    padding: 2px 12px;
}

body .pum-theme-default-theme .pop_content_text .button-blue-popup a, 
body .pum-theme-default-theme .pop_content_text .button-blue-popup a:active {
    background-color: #00bce7;
    background-image: url(/app/uploads/2018/01/ArrowButton_Blue-transparent.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #00bce7;
    border-radius: 0px;
    color: #ffffff;
    letter-spacing: 0.59px;
    font-family: 'National-Medium';
    font-size: 22px;
    font-weight: 300;
    padding: 7px 55px 7px 8px;
    text-decoration: none;
}

@media screen and (max-width: 1440px) {
    body .pum-theme-default-theme .pum-container.pum-responsive.pum-responsive-medium {
        margin-left: -25% !important;
        width: 45% !important;
    }
}

@media screen and (max-width: 1024px) {
    body .pum-theme-default-theme .pum-container.pum-responsive.pum-responsive-medium {
        margin-left: -30% !important;
        width: 60% !important;
    }
}

@media screen and (max-width: 480px) and (orientation: portrait) {
    body .pum-theme-default-theme .pum-container.pum-responsive.pum-responsive-medium {
        margin-left: -50% !important;
        width: 100% !important;
    }

    body .pum-theme-default-theme .pop_content_text .button-blue-popup a, 
    body .pum-theme-default-theme .pop_content_text .button-blue-popup a:active {
        font-size: 20px !important;
        line-height: 100%;
        padding: 7px 73px 7px 8px !important;
    }

    body .pum-theme-default-theme h1, 
    body .pum-theme-default-theme h2, 
    body .pum-theme-default-theme h3 {
        font-size: 36px !important;
        margin: 20px 20px 30px !important;
    }

    body .pum-theme-default-theme .pop_content_text {
        padding: 0px 20px 30px !important;
    }
}