.search .blog-header {
    background: none;
    max-height: 265px;
}

.search .blog-header .blog-header--body {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 56px 0 0;
}

.search .blog-header h1 {
    color: #00bce7;
    font-family: "National-Light";
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 1.82px;
    line-height: 40px;
    text-align: center;
    width: 100%;
    margin-bottom: 17px;
}

.search .blog-header p {
    color: #2d2d2d;
    font-family: "National-Light";
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.91px;
    line-height: 25px;
    padding: unset;
    margin-bottom: 23px;
}

.search.safari.iphone .search__header.active {
    max-height: 70px;
    padding: 10px 0;
}

.search.safari.iphone .search__header.active i {
    margin-top: -5px;
}

.search.safari.iphone .search__header.active .close {
    margin-top: -5px;
}

.search #main .post-search form.searchform {
    border: 1px solid #dadada;
    margin: 0 auto;
    max-width: 369px;
}

.search #main .post-search form.searchform input.s {
    background-color: #ffffff;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    color: #4a4a4a;
    font-family: "National-Light";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.82px;
    padding: 13px;
    text-align: left;
}

.search #main .post-search form.searchform button.submit-new {
    background-color: #fff !important;
    background-image: url(/app/uploads/2018/01/ArrowButton_White-1.png) !important;
    background-position: 100%;
    background-repeat: no-repeat !important;
    background-size: contain;
    border-bottom: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-top: 0px !important;
    color: #00bce7 !important;
    font-family: 'National-Medium';
    font-size: 18px !important;
    font-weight: 300;
    height: 100%;
    letter-spacing: 0.59px;
    padding: 0px;
    position: absolute !important;
    right: 0px !important;
    text-decoration: none;
    width: 49px;
}

.search #main .post-search form.searchform .fa-search:before {
    display: none
}

.search .ks-blue-arrow {
    margin: auto;
    max-width: 1200px;
}

.search .vc_sep_pos_align_center {
    margin-left: auto;
    margin-right: auto;
}

.search .vc_sep_width_100, .wpb_single_image img.vc_img-placeholder {
    width: 100%;
}

.search .vc_separator {
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
}

.search .vc_separator .vc_sep_holder {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 1px;
    min-width: 10%;
    position: relative;
}

.search .vc_icon_element.vc_icon_element-outer.vc_icon_element-align-left {
    text-align: left;
}

.search .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md {
    box-sizing: content-box;
    display: inline-block;
    line-height: 2.15em!important;
    max-width: 100%!important;
    text-align: center;
    position: relative;
}

.search .ks-blue-arrow img {
    background: transparent;
    border: 0px;
    max-width: 32px;
    padding: 0px;
}

.search .vc_separator.vc_sep_color_grey .vc_sep_line {
    border-color: #EBEBEB;
}

.search .vc_separator .vc_sep_holder .vc_sep_line {
    border-top: 1px solid #EBEBEB;
    display: block;
    height: 1px;
    position: relative;
    top: 1px;
    width: 100%;
}

.search .results-title {
    color: #006bc0;
    font-family: "National-Light";
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1.14px;
    line-height: 30px;
    margin: 40px 0 20px;
}

.search .results-post-title {
    color: #00bce7;
    font-family: "National-Light";
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.91px;
    line-height: 25px;
}

.search .results-post-title.mobile {
    display: none
}

.search .results-post-content.ipad {
    display: none
}

.search .results-post-content.mobile {
    display: none
}

.search .results-post-content p {
    color: #4a4a4a;
    font-family: "National-Light";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.82px;
    margin-bottom: 0px;
    margin-top: 17px;
}

.search .post-search-filter {
    border-bottom: 0px;
}

.search .post-grid > .row > div {
    padding-bottom: 24px !important;
    margin-bottom: 24px;
}

.search .post-grid > .row > div.search-col:nth-of-type(even) {
    padding: 0px;
}

.search .post-grid > .row > div.search-col:nth-of-type(odd) {
    padding: 0px;
}

.search .pagination_links {
    display: flex;
    position: relative;
}

.search .pagination_links .page-numbers {
    color: #dcdcdc;
    font-family: "National-Medium";
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    padding: 0 10px;
}

.search .pagination_links .page-numbers.current {
    color: #00bce7 !important;
    font-family: "National-Medium";
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.6px;
    padding: 0px 4px;
    text-transform: uppercase;
}

.search .pagination_wrapper {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    position: relative;
    text-align: right;
    width: 100%;
}

.search .page-numbers.prev {
    background: url(/app/uploads/2018/01/ArrowButton_White-1.png) no-repeat;
    background-size: contain;
    margin-right: 10px;
    padding: 0 10px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.search .page-numbers.next {
    background: url(/app/uploads/2018/01/ArrowButton_White-1.png) no-repeat;
    background-size: contain;
    margin-left: 10px;
    padding: 0 10px;
}

.search .pagination_links.mobile {
    display: none;
}

.search .pagination_links :first-child.current::before {
    background: url(/app/uploads/2018/01/ArrowButton_White-1.png) no-repeat;
    background-size: contain;
    content: "";
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    left: -40px;
    padding: 10px;
    position: absolute;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.search .pagination_links :last-child.current {
    margin-right: 20px;
    padding: 0 15px;
}

.search .pagination_links :last-child.current::before {
    background: url(/app/uploads/2018/01/ArrowButton_White-1.png) no-repeat;
    background-size: contain;
    content: "";
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    padding: 10px;
    position: absolute;
    right: 0;
}

.search .screen-reader-text {
    display: none;
}

.search .pagination_links .page-numbers:first-child {
    color: transparent;
    text-indent: -9999px;
    padding: 0 10px;
}

.search .pagination_links .page-numbers:last-child {
    color: transparent;
    text-indent: -9999px;
    padding: 0 10px;
}

@media screen and (max-width: 990px) {    
    .search #main .searchtrigger {
        border-left: 0px;
        color: white;
        margin: 0px !important;
        padding: 25px 16px;
    }
}

@media screen and (max-width: 800px) {
    .search #main .post-search form.searchform input.s {
        margin: 0px;
    }

    .search #main .searchform.new {
        display: flex;
        flex-direction: row-reverse;
    }

    .search .post-search form input.s {
        width: 100%;
    }

    .search .post-search {
        margin-bottom: 23px;
    }

    .search .post-grid > .row > div.search-col:nth-of-type(odd),
    .search .post-grid > .row > div.search-col:nth-of-type(even) {
        padding: 0 20px;
    }

    .search .results-title {
        display: none;
    }

    .search .results-post-title {
        display: none;
    }

    .search .results-post-title.mobile {
        color: #00bce7;
        display: block;
        font-family: "National-Light";
        font-size: 25px;
        font-weight: 300;
        letter-spacing: 1.14px;
        line-height: 30px;
    }

    .search .results-post-content {
        display: none;
    }

    .search .results-post-content.ipad {
        display: block;
    }

    .search .results-post-content.mobile {
        display: none;
    }

    .search .results-post-content p {
        color: #4a4a4a;
        font-family: "National-Light";
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0.91px;
    }

    .search .vc_separator {
        margin-bottom: 40px;
    }

    .search .pagination_links {
        display: none;
    }

    .search .pagination_links.mobile {
        display: block;
        text-align: center;
        width: 100%;
    }

    .search .pagination_links.mobile .arrow {
        position: relative;
    }

    .search .pagination_links.mobile .arrow a:first-child {
        background: url(/app/uploads/2018/01/ArrowButton_White-1.png) no-repeat;
        background-size: contain;
        left: 0;
        padding: 25px;
        position: absolute;
        text-indent: -9999px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    .search .pagination_links.mobile .arrow a:last-child {
        background: url(/app/uploads/2018/01/ArrowButton_White-1.png) no-repeat;
        background-size: contain;
        padding: 25px;
        position: absolute;
        right: 0;
        text-indent: -9999px;
    }

    .search .pagination_links.mobile .arrow a.disabled {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    .search .pagination_links.mobile .numbers {
        color: #dcdcdc;
        font-family: "National-Medium";
        font-size: 25px;
        padding: 18px 0;
    }

    .search .pagination_links.mobile .numbers a {
        color: #00bce7;
        font-family: "National-Medium";
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        padding: 25px;
    }

    .search .pagination_links.mobile .numbers a:last-child {
        color: #dcdcdc;
    }

    .search .page-numbers.dots {
        color: transparent;
        padding: 0 0 0 20px;
    }

    .search .page-numbers.dots::before {
        color: #dcdcdc;
        content: '/';
        font-size: 20px;
        position: absolute;
    }

    .search .pagination_links {
        position: relative;
    }

    .search .nav-links {
        width: 100%;
    }

    .search .pagination_links .current {
        color: #00bce7;
    }

    .search .pagination_links .page-numbers:first-child {
        color: transparent;
        text-indent: -9999px;
    }

    .search .pagination_links .page-numbers:last-child {
        color: transparent;
        text-indent: -9999px;
    }

    .search .post-search {
        padding: 0 20px;
    }

    .search .pagination_links :first-child.current::before {
        left: 20px;
        padding: 25px;
        right: unset;
        top: -15px;
    }

    .search .pagination_links :last-child.current::before {
        left: unset;
        padding: 25px;
        right: 20px;
        top: -15px;
    }

    .search .page-numbers.prev {
        background: url(/app/uploads/2018/01/ArrowButton_White-1.png) no-repeat;
        background-size: contain;
        padding: 25px;
        position: absolute;
        left: 20px;
        top: -15px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    .search .page-numbers.next {
        background: url(/app/uploads/2018/01/ArrowButton_White-1.png) no-repeat;
        background-size: contain;
        padding: 25px;
        position: absolute;
        right: 20px;
        top: -15px;
    }

    .search .page-numbers {
        font-size: 25px !important;
    }
}

@media screen and (max-width: 480px) {

    .search .results-post-content {
        display: none;
    }

    .search .results-post-content.ipad {
        display: none;
    }

    .search .results-post-content.mobile {
        display: block;
    }
}