.search__header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 74px;
    width: 100%;
    z-index: 999;
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: all 1s ease;
}
.search__header.active {
    max-height: 80px;
    padding: 20px 0;
}
.safari.iphone .search__header.active {
    max-height: 62px;
    padding-top: 10px;
}
.safari.iphone .search__header.active i {
    margin-top: -5px;
}
.safari.iphone .search__header.active .close {
    margin-top: -5px;
}
.search__header > div {
    align-items: center;
    display: flex;
}
.search__header h2,
.search__header .search_main {
    display: inline-block;
}
.search__header .search_main {
    width: 100%;
}
.search__header button {
    visibility: hidden;
}
.search__header i {
    color: #dcdcdc;
    font-size: 20px;
}
.search__header form {
    border: none;
    margin-top: 0;
}
.search__header .searchform input.s {
    border: none;
    color: #006bc0;
    font-family: "National-Light";
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
}
.search__header .searchform input.s::-webkit-input-placeholder {
    color: #006bc0;
}
.search__header .searchform input.s::-ms-input-placeholder {
    color: #006bc0;
}
.search__header .searchform input.s::placeholder {
    color: #006bc0;
}
.search__header .close {
    display: inline-block;
    float: none;
    height: 22px;
    position: relative;
    width: 3px;
    right: 5px;
}
.search__header .close:before {
    background-color: #dcdcdc;
    content: '';
    display: block;
    height: 22px;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate(45deg);
    width: 3px;
}
.search__header .close:after {
    background-color: #dcdcdc;
    content: '';
    display: block;
    height: 22px;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(-45deg);
    width: 3px;
}

.searchtrigger {
    float: right;
    padding: 8px 16px;
    border-left: 1px #bcbcbc solid;
    font-size: 18px;
    cursor: pointer;
}

/*body:not(.home) .searchtrigger {
    color: #fff;
}*/

#mobile_header h3 {
    text-align: center;
}
#mobile_header h3 img {
    margin: 22px 0 0 0 !important;
}
#mobile_header .cd-dropdown-trigger {
    float: left !important;
}

@media (max-width: 500px) {
    .search__header {
        top: 80px;
    }
    .searchtrigger {
        border: none;
        padding: 0.5em 0.8em 0.5em 0.8em;
        margin: 1.1em 0;
        color: #fff;
    }
}