/* General */
.other-services {
    background: white !important;
}

.other-services h2 {
    color: #006bc0;
    font-family: "National-Light";
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1.14px;
    line-height: 25px;
    margin-bottom: 44px !important;
}

.other-services .benefit-img {
    border-radius: 50%;
    height: 123px !important;
    width: 123px !important;
}

.other-services .benefit-img a img {
    max-height: 85px !important;
}

.other-services .button-white-black a {
    font-family: 'National-Light' !important;
}

#wrapper .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error.gfield_visibility_visible {
    max-width: 100% !important;
}

#wrapper .gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background-color: transparent !important;
    margin-bottom: 0px !important;
    border-top: 0px solid #C89797;
    border-bottom: 0px solid #C89797;
    padding-bottom: 0px;
    padding-top: 0px;
    box-sizing: border-box;
}

.gform_wrapper .validation_message {
    display: none;
}

@media screen and (max-width: 1024px) {
    #navigation ul.nav > li a {
        font-size: 14px !important;
    }
}

@media screen and (max-width: 768px) {
    .searchtrigger {
        font-size: 26px !important;
        margin: 1em 0 !important;
        padding: 0em 0.8em 0.5em 0.8em !important;
    }
    /*newsletter*/
    .footer-newsletter .top_label input {
        max-width: 100%;
        padding: 13px 14px !important;
        width: 100%;
    }
    /*footer*/
    #footer .col-right p {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    #wrapper .footer-newsletter .top_label input {
        max-width: 100% !important;
        padding: 15px !important;
    }
    /*newsletter*/
    .mc-new-form {
        max-width: 100%;
        padding: 0 20px;
    }

    .mc-new-form .gform_heading {
        margin-bottom: 28px;
    }

    .footer-newsletter .gform_description {
        margin-right: 0;
    }

    .footer-newsletter .top_label input::placeholder {
        color: #ffffff;
        font-family: "National-Light";
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 0.63px;
    }

    /*footer*/
    footer .footer-inner {
        display: flex;
        flex-flow: column;
    }

    footer .footer-inner .footer-logo {
        order: 0;
    }

    footer .footer-inner .menu-footer-menu-container {
        order: 2;
    }

    footer .footer-inner #copyright {
        margin-top: 0;
        order: 1;
    }

    footer .footer-newsletter_wrapper {
        margin: 0 20px !important;
    }

    footer .footer-inner #credit {
        border-top: 1px solid #3f3f3f;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        order: 3;
        padding-top: 10px;
    }

    footer .footer-inner #credit p {
        color: #ffffff;
        font-family: "National-Light";
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.51px;
        text-align: left;
    }

    .other-services .button-white-black a {
        font-size: 18px !important;
        padding: 15px 70px 15px 15px !important;
    }

    .other-services {
        padding-bottom: 49px !important;
        padding-top: 49px !important;
    }

    .other-services .haven-container .row > div {
        margin-bottom: 0 !important;
    }

    .other-services .haven-container .row > div.hello {
        margin-bottom: 40px !important;
    }

    .other-services .haven-container h2 {
        margin-bottom: 44px !important;
    }
    
    .vc_empty_space {
        height: 32px !important;
    }

    #wrapper .footer-newsletter .top_label input::placeholder {
        font-size: 15px !important;
    }
}

/*Specific Pages*/
.home .contact-form .gform_wrapper ul li.gfield.full {
    width: 100%;
}

.home .contact-form .gform_footer {
    bottom: unset;
    padding-left: 0 !important;
    position: relative;
    right: unset;
}

.home .contact-form .gform_wrapper input::placeholder,
.home .contact-form .gform_wrapper select,
.home .contact-form .gform_wrapper textarea{
    font-size: 18px !important;
    letter-spacing: 0.76px;
}

.home .gform_wrapper textarea.large {
    height: 120px;
}

.home .contact-form select option {
    color: #000;
}

.home .contact-form .gform_wrapper input[type="submit"] {
    background: white;
    background: white;
    color: #00bce7 !important;
    font-family: "National-Medium" !important;
    text-transform: capitalize;
}

@media screen and (max-width: 768px) {
    /*homepage services to carousel*/
    .home .home-services.wpb_content_element  {
        background-position: center 10px !important;
        background-size: auto 133px !important;
        padding-top: 143px !important;
        text-align: center;
    }

    .home .home-services.wpb_content_element a {
        font-size: 20px;
        min-height: 110px;
    }

    .home .service-wrap.gallery {
        margin-bottom: 35px !important;
    }

    .home .service-wrap .slick-list {
        padding-left: 0 !important;
        width: 100%;
    }

    .home .service-wrap .slick-slide {
        max-width: 224px;
    }

    .home .service-wrap.gallery .slick-dots {
        display: none;
    }

    /*3 columns*/
    .home .home-tools h2 {
        min-height: 62px;
    }

    .home .r-bg {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 600px) {
    .home .home-services.wpb_content_element a {
        font-size: 25px;
        letter-spacing: 1.14px;
        min-height: 90px;
        padding: 16px;
    }

    .home .blog-home-grid .vc_gitem-zone-a .vc_gitem-row-position-top .vc_gitem-col .blog-home a {
        max-height: unset !important;
    }

    .home .r-bg .vc_empty_space {
        display: none;
    }
    
    /*3 columns*/
    .home .home-tools h2 {
        min-height: unset;
    }

    .home .home-tools li {
        line-height: 30px !important;
    }

    /*contact us today*/
    .home .contact-form {
        padding: 20px 20px 0 !important;
    }

    .home .contact-form .gform_wrapper ul li.gfield.gfield_visibility_visible {
        padding-right: 0;
        width: 100%;
    }

    .home .video-banner .wpb_content_element {
        margin-bottom: 23px;
    }

    .home .video-banner .wpb_content_element:last-child {
        margin-bottom: 37px !important;
    }

    .home .why-financial-adviser-inner {
        padding: 0 !important;
    }

    .home .why-financial-adviser-inner h2 {
        margin-top: 37px !important;
    }

    .home .video-banner .vc_empty_space {
        display: none;
    }

    .home .contact-form .gform_footer {
        padding-right: 0;
    }
    
    .home .contact-form .gform_wrapper input[type="submit"] {
        font-size: 18px !important;
        font-weight: 500;
        letter-spacing: 0.82px;
    }

    .home-contact.contact-form select {
        background-size: 4% 50% !important;
    }

}

@media screen and (max-width: 479px) {
    .home .home-services.wpb_content_element a {
        min-height: 107px;
        font-size: 21px;
    }
}

/*haven accounting page*/
.page-haven-accounting .top-container {
    background: #00bce7 !important;
}

.page-haven-accounting .top-container-inner  h2 {
    color: #ffffff;
    font-family: "National-Light";
    font-size: 30px !important;
    font-weight: 300;
    letter-spacing: 1.36px;
    line-height: 25px;
}

.page-haven-accounting .business-accordion {
    border-bottom: 0;
}

.page-haven-accounting .vc_toggle_title {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 10px;
}

.page-haven-accounting .vc_toggle_title h4:after {
    display: none;
}

.page-haven-accounting .vc_toggle_content {
    display: block;
    margin-bottom: 0;
}

.page-haven-accounting .vc_toggle_content p {
    margin-bottom: 0;
}

.page-haven-accounting .long .vc_toggle_content p {
    margin-bottom: 20px;
}

.page-haven-accounting .accounting-section-1 h3 {
    color: #00bce7;
    font-family: "National-Light";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.82px;
    line-height: 25px;
    margin-bottom: 0 !important;
}

.page-haven-accounting h2 {
    color: #006bc0;
    font-family: "National-Light";
    font-size: 25px !important;
    font-weight: 300;
    letter-spacing: 1.14px;
    line-height: 25px;
}

.page-haven-accounting .free-meeting-inner {
    padding: 0 15px !important;
}

.page-haven-accounting .free-meeting-inner p {
    color: #ffffff;
    font-family: "National-Medium";
    font-size: 15px !important;
    font-weight: 500;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    max-width: 680px;
}

.page-haven-accounting .free-meeting-inner a {
    color: #00bce7;
    font-family: "National-Medium";
    font-size: 14px !important;
    font-weight: 500;
    letter-spacing: 0.64px;
}

.page-haven-accounting .abacus .gform_wrapper .top_label .gfield_label {
    display: none;
}

.page-haven-accounting .abacus .gform_wrapper ul.gform_fields li.gfield {
    padding-right: 0;
}

.page-haven-accounting .abacus .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    border-bottom: 1px solid #dcdcdc;
    width: 100%;
}

.page-haven-accounting .abacus .gform_wrapper textarea {
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #dcdcdc;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.82px;
    height: 100px !important;
}

/*.page-haven-accounting .abacus .gform_footer {*/
/*    float: right;*/
/*    margin-top: -110px !important;*/
/*    text-align: right;*/
/*    width: 200px !important;*/
/*}*/

.page-haven-accounting .abacus .gform_footer input[type=submit] {
    background-color: #00bce7 !important;
    background-image: url('../images/ArrowButton_Blue-transparent.png') !important;
    background-position: 100%;
    background-size: contain;
    background-repeat: no-repeat !important;
    border: 2px solid #FFF !important;
    border-radius: 0 !important;
    color: #ffffff !important;
    font-family: "National-Medium";
    font-size: 13px !important;
    font-weight: 500;
    letter-spacing: 0.59px;
    padding: 7px 45px 7px 8px !important;
    text-decoration: none;
    text-transform: capitalize !important;
}

.page-haven-accounting .abacus .haven-container {
    background-repeat: no-repeat !important;
    background-position: 100% 100%!important;
}

@media screen and (max-width: 768px) {
    .page-haven-accounting .business-accordion {
        border-bottom: 1px solid #dcdcdc;
    }

    .page-haven-accounting .vc_toggle_title {
        border-bottom: 0;
        padding-bottom: 0;
    }

    .page-haven-accounting .vc_toggle_title h4:after {
        display: block;
    }

    .page-haven-accounting .vc_toggle_content {
        display: none;
        margin-bottom: unset;
    }

    .page-haven-accounting .vc_toggle_content p {
        margin-bottom: unset;
    }
    
    .page-haven-accounting .abacus .haven-container {
        padding-bottom: 260px;
        background-position: bottom center !important;
    }

    .page-haven-accounting .long .vc_toggle_content p {
        margin-bottom: 0;
    }

    .page-haven-accounting .top-container-inner h2 {
        font-size: 25px !important;
    }
    .page-haven-accounting .haven-page-nav.mobile .top-menu-dropdown {
        font-size: 14px !important;
        letter-spacing: 0.55px !important;
        padding: 21px 0 !important;
    }
    .top-container-menu.mobile .top-menu-dropdown i, .haven-page-nav.mobile .top-menu-dropdown i {
        position: absolute !important;
        top: 18px !important;
        transition: all 0.3s ease-in-out !important;
        right: 10px !important;
    }
    .haven-page-nav ul li a {
        font-size: 14px !important;
        letter-spacing: 0.55px !important;
    }
}


@media screen and (max-width: 600px) {
    .page-haven-accounting .abacus {
        background-position: 50% 96% !important;
    }

    .page-haven-accounting .abacus .gform_footer {
        float: unset;
        margin-top: 0 !important;
        position: relative;
        width: 100% !important;
    }

    .page-haven-accounting .p-banner.mobile h2 {
        text-align: center !important;
    }

    .page-haven-accounting .vc_general.vc_btn3 {
        padding: 15px 70px 15px 15px !important;
        width: 100% !important;
    }

    .page-haven-accounting .accounting-section-1 {
        padding: 0 20px;
    }

    .page-haven-accounting .free-meeting-inner a {
        font-size: 15px !important;
        letter-spacing: 0.68px !important;
        padding: 15px 70px 15px 15px !important;
    }

    .page-haven-accounting .abacus .gform_footer input[type=submit] {
        font-size: 18px !important;
        padding: 15px 70px 15px 15px !important;
    }
}


/*ACCOUNTING MAIN*/
.page-accounting .help-block {
    background-image: radial-gradient(circle 362px at 23.94% 171.74%, #48d2f2 0%, #00bce7 100%);
    color: white;
}

.page-accounting .help-block h2,
.page-accounting .help-block p {
    color: white;
}

.page-accounting .help-block .gform_wrapper .top_label .gfield_label {
    display: none;
}

.page-accounting .help-block .gform_wrapper ul.gform_fields li.gfield {
    padding-right: 0;
}

.page-accounting .help-block .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    border-bottom: 1px solid #dcdcdc;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    width: 100%;
}

.page-accounting #gform_5 .gfield_error:nth-of-type(odd) {
    padding: 0 !important;
}

.page-accounting .gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.page-accounting .gform_wrapper li.gfield_error textarea {
    border-bottom: 1px solid #790000;
}

.page-accounting .help-block .gform_wrapper textarea {
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #dcdcdc;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.82px;
    height: 100px !important;
}

/*.page-accounting .help-block .gform_footer {*/
/*    float: right;*/
/*    margin-top: -110px !important;*/
/*    text-align: right;*/
/*    width: 200px !important;*/
/*}*/

.page-accounting .help-block .gform_footer input[type=submit] {
    background-color: #00bce7 !important;
    background-image: url('../images/ArrowButton_Blue-transparent.png') !important;
    background-position: 100%;
    background-size: contain;
    background-repeat: no-repeat !important;
    border: 1px solid #fff !important;
    border-radius: 0 !important;
    color: #ffffff !important;
    font-family: "National-Medium";
    font-size: 13px !important;
    font-weight: 500;
    letter-spacing: 0.59px;
    padding: 7px 45px 7px 8px !important;
    text-decoration: none;
    text-transform: capitalize !important;
}

.page-accounting .help-block {
    padding: 47px 0 !important;
}

.page-accounting .help-block .vc_column-inner {
    padding-top: 0 !important;
}

.page-accounting .help-block .haven-container {
    align-items: center;
    display: flex;
}

.page-accounting .help-block .form-block {
    background: white;
    border-radius: 7px;
    padding: 0 28px;
}

.page-accounting .acc-accounting img {
    max-height: 150px !important;
}

.page-accounting .acc-accounting .ks-m-top p,
.page-accounting .acc-accounting p {
     min-height: 80px;
}

.page-accounting .free-meeting-inner p {
    font-size: 15px !important;
    font-weight: 500;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    max-width: 600px;
}

.page-accounting .free-meeting-inner a {
    font-size: 14px !important;
    font-weight: 500;
    letter-spacing: 0.64px;
}

.page-accounting .top-container h2 {
    color: #ffffff;
    font-family: "National-Light";
    font-size: 20px !important;
    font-weight: 300;
    letter-spacing: 0.91px;
    line-height: 25px;
    max-width: 400px;
}

.page-accounting .top-container .vc_general.vc_btn3 {
    color: white !important;
    background-color: transparent !important;
    background-image: url('../images/arrow-btn-transparent.png') !important;
    font-size: 14px !important;
    letter-spacing: 0.59px;
}

/*@media screen and (max-width: 1024px) {*/
/*    .page-accounting .top-container-text h2 {*/
/*        max-width: unset !important;*/
/*    }*/
/*}*/

@media screen and (max-width: 768px) {
    .page-accounting .help-block .haven-container {
        flex-flow: column;
    }
}

@media screen and (max-width: 600px) {
    .page-accounting .top-container {
        background-position: 85% center !important;
        padding-top: 0 !important;
    }

    .page-accounting .free-meeting-inner a {
        font-size: 15px !important;
        letter-spacing: 0.68px;
    }

    .page-accounting .top-container-inner {
        padding: 0 20px !important;
    }

    .page-accounting .top-container h1 {
        color: #ffffff;
        font-family: "National-Medium";
        font-size: 30px !important;
        font-weight: 500;
        letter-spacing: 2.25px;
        line-height: 30px;
        text-transform: uppercase;
    }

    .page-accounting .top-container-text {
        padding: 0 !important;
    }

    .page-accounting .help-block .gform_footer {
        float: unset !important;
        margin-top: 0 !important;
        width: 100% !important;
    }

    .page-accounting .help-block .gform_footer input[type=submit] {
        border: 2px solid #fff !important;
        font-size: 18px !important;
        letter-spacing: 0.82px !important;
        padding: 10px 55px 10px 10px !important;
    }

    .page-accounting .acc-accounting .button-blue a {
        font-size: 18px !important;
        letter-spacing: 0.82px !important;
        padding: 15px 70px 15px 15px !important;
    }

    .page-accounting .acc-accounting .ks-m-top p,
    .page-accounting .acc-accounting p {
        max-width: 100%;
    }

    .page-accounting .top-container .vc_general.vc_btn3 {
        font-size: 18px !important;
        padding: 17px 70px 17px 17px !important;
    }

    .page-accounting .acc-accounting .wpb_single_image {
        margin-bottom: 17px !important;
    }

    .page-accounting .ks-m-top {
        margin-bottom: 29px;
    }

    .page-accounting .ks-m-top h3 {
        margin-bottom: 16px !important;
    }
}
