.page-template-template-willkits .fancybox-overlay {
    background: rgba(255, 255, 255, 0.93) !important;
}
.page-template-template-willkits .fancybox-skin {
    background: transparent !important;
}
.page-template-template-willkits .fancybox-opened .fancybox-skin {
    box-shadow: 0 0;
}
.page-template-template-willkits .fancybox-title-float-wrap .child {
    display:none;
}
.page-template-template-willkits .gform_wrapper .top_label .gfield_contains_required .gfield_label {
    position: absolute;
    right: 5px;
    top: 10px;
}
.page-template-template-willkits .gform_wrapper .top_label .gfield_contains_required .gfield_label span {
    color: #222;
}
.page-template-template-willkits .gform_confirmation_message {
    font-weight: normal;
    line-height: 30px;
    padding: 100px 40px;
}
.page-template-template-willkits .gform_wrapper .gfield_required {
    color: #222;
}
.page-template-template-willkits .gfield_contains_required {
    position: relative;
}
.page-template-template-willkits .gform_wrapper span.gform_description {
    margin-bottom: 50px;
}
.page-template-template-willkits .gform_wrapper ul.gform_fields li.gfield {
    padding-right: 0;
}
.page-template-template-willkits .gform_wrapper li.gfield.gfield_error, 
.page-template-template-willkits .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background-color: transparent;
    margin-bottom: 0px !important;
    border: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    box-sizing: border-box;
}
.page-template-template-willkits .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
    display:none;
}
.page-template-template-willkits .gform_wrapper div.validation_error {
    display:none;
}
.page-template-template-willkits .gform_confirmation_message {
    text-align: center;
    padding: 30px 0;
    font-weight: bold;
    font-size: 20px;
    background: #f9f9f9;
    margin-bottom: 20px;
    border: 1px solid #d5d5d5;
}
.page-template-template-willkits #field_13_7 label span.gfield_required, 
.removReq .gfield_label span.gfield_required { 
    display: none; 
}
.page-template-template-willkits .gform_wrapper ul.gfield_radio li input[type="radio"]:checked+label, 
.page-template-template-willkits .gform_wrapper ul.gfield_checkbox li input[type="checkbox"]:checked+label, 
.page-template-template-willkits .gchoice_select_all {
    font-weight: 300 !important;
}
.page-template-template-willkits .top-container {
    margin-top: 0;
    min-height: 600px;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -130px;
}

.page-template-template-willkits .gform_confirmation_message {
    color: #2d2d2d;
    font-family: "National-LightItalic";
    font-size: 14px !important;
    font-weight: 300;
    letter-spacing: 0.64px;
}

.page-template-template-willkits .gform_confirmation_message h2{
    color: #00bce6;
    font-family: "National-Light";
    font-size: 25px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 1.14px;
    text-align: center;
}



@media screen and (max-width: 1280px) {
    .page-template-template-willkits .top-container {
        padding: 25% 0 0;
        background-position: center top;
    }

    .page-template-template-willkits .gfield_checkbox input{
        top: 0;
        position: absolute;
        z-index: 9;
    }
    .page-template-template-willkits .will-kit-form .gform_wrapper .gfield_checkbox li label{
        margin-left: 25px
    }
}
 
@media screen and (max-width: 680px) {
    .page-template-template-willkits .top-container {
        padding: 0;
        min-height: 400px;
    }
}
.page-template-template-willkits .top-container h1 {
    display: inline;
    color: #ffffff;
    font-family: "National-Light";
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 1.82px;
    text-transform: capitalize;
}
.page-template-template-willkits .top-container-text p {
    color: #ffffff;
    font-family: 'National-Book';
    font-size: 16px !important;
    line-height: 25px !important;
    font-weight: 300;
    letter-spacing: 0.73px;
    max-width: 840px;
    margin: auto;
    text-align: center;
    margin-bottom: 12px;
}
.page-template-template-willkits .content_wrap h1 {
    color: #00bce7;
    font-family: "National-Light";
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
    /* Text style for "Select the" */
    letter-spacing: 1.82px;
}
@media screen and (max-width: 810px) {
    .page-template-template-willkits .content_wrap h1,
    .top-container-inner {
        padding: 0 10%;
    }
}
.buttonBlk {
    width: 100%;
    padding: 15px;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #d5d5d5;
    position: relative;
}
.buttonBlk a {
    padding: 20px 80px;
    color: #4a4a4a !important;
    font-family: "National-Book";
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.73px;
}
.buttonBlk a:before {
    content: "";
    background: url(../images/Group_Copy_4.png);
    background-repeat:no-repeat;
    position: absolute;
    left: 30%;
    top: 33%;
    padding: 10px;
}
@media screen and (max-width: 980px) {
    .buttonBlk a {
        padding: 20px 70px;
    }
    .buttonBlk a:before {
        left: 20%;
    }
}
.buttonBlk:first-child {
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
}
.buttonBlk:last-child {
    border-right: 1px solid #d5d5d5;
}
.imageBlk {
    padding: 0 10px;
    margin-bottom: 20px;
}
.imageBlk:first-child {
    padding-right: 10px;
}
.imageBlk:last-child {
    padding-left: 10px;
}
@media screen and (max-width: 780px) {
    .imageBlk:first-child {
        padding-right: 0px;
    }
    .imageBlk:last-child {
        padding-left: 0px;
    }
}
.imageBlk .wpb_text_column  {
    margin-bottom: 0px;
}
.imageBlk .wpb_text_column h3 {
    padding: 25px 0;
    background: #f6f6f6;
    text-align: center;
    margin-bottom: 0px !important;
    border: 1px solid #d5d5d5;
}
.imageBlk .wpb_single_image {
    margin-bottom: 0;
}
.imageBlk .wpb_single_image .vc_figure {
    display: block;
}
.imageBlk .wpb_single_image .vc_single_image-wrapper {
    display: block;
}
.imageBlk img {
    width: 100%;
}
.will-kit-form .wpb_text_column {
    background:#f9f9f9;
    margin-bottom: 0 !important;
    padding: 36px;
    border: 1px solid #d5d5d5;
    text-align: center;
    box-shadow: 0 1px 7px #d5d5d5;
    color: #2d2d2d;
    font-family: "National-Book";
    font-size: 14px;
    font-weight: 300;
    /* Text style for "By accepti" */
    letter-spacing: 0.64px;
}
.will-kit-form .wpb_text_column h3 {
    font-size: 25px;
}
.will-kit-form .wpb_text_column p {
    color: #2d2d2d;
    font-size: 14px;
    font-family: 'National-Book';
    letter-spacing: 0.64px;
}
.will-kit-form .gform_wrapper {
    margin-top:0;
    padding: 50px 100px 25px;
    background: #f9f9f9;
    box-shadow: 0 1px 7px #d5d5d5;
    border: 1px solid #d5d5d5;
}
@media screen and (max-width: 600px) {
    .fancybox-lock .page-will-kits .fancybox-overlay {
        overflow: hidden !important;
    }
    .will-kit-form .gform_wrapper {
        padding: 40px 30px 10px;
        overflow-y: scroll;
    }
}
.will-kit-form .gform_description {
    color: #00bce6;
    font-family: "National-Light";
    font-size: 25px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 1.14px;
    text-align:center;
}
.will-kit-form .gform_wrapper input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']),
.will-kit-form .gform_wrapper select {
    color: #2d2d2d;
    font-family: "National-LightItalic";
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.64px;
    border-bottom: 1px solid #d5d5d5;
}
.will-kit-form .gform_wrapper .gfield_checkbox li label {
    max-width: 93%;
    margin-left: 2%;
    letter-spacing: 0.64px;
    cursor: default;
}
.will-kit-form .gform_wrapper .gfield_checkbox li label a {
    cursor: pointer;
}
.will-kit-form .gfield_checkbox label {
    color: #2d2d2d;
    font-family: "National-LightItalic";
    font-size: 14px !important;
    font-weight: 300;
    letter-spacing: 0.64px;
}

.will-kit-form .gfield_error input[type='checkbox'] {
    -webkit-box-shadow: -1px 0px 0px 1px rgba(121,0,0,1);
    -moz-box-shadow: -1px 0px 0px 1px rgba(121,0,0,1);
     box-shadow: -1px 0px 0px 1px rgba(121,0,0,1);
}

.will-kit-form .gform_wrapper .gform_footer input.button, 
.will-kit-form .gform_wrapper .gform_page_footer input.button, 
.will-kit-form .gform_wrapper .gform_footer input[type=submit], 
.will-kit-form .gform_wrapper .gform_page_footer input[type=submit] {
    width: 100%;
    border: 1px solid #f6f6f6;
    background-color: #00bce6;
    padding: 10px;
    font-family: 'National-Medium';
    font-size: 15px;
}
/* width */
/*::-webkit-scrollbar {
    display: none;
    width: 5px;
    height: 5px;
}*/
/* Track */
/*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 50px;
    background: #d5d5d5;
}*/
/* Handle */
/*::-webkit-scrollbar-thumb {
    background: #d5d5d5; 
    border-radius: 50px;
}*/
/* Handle on hover */
/*::-webkit-scrollbar-thumb:hover {
    background: #d5d5d5; 
}
*/
a#disc { color: #00bce6 }

.disclaim {
    color: #2d2d2d;
    font-family: "National-LightItalic";
    font-size: 14px !important;
    font-weight: 300;
    letter-spacing: 0.64px;
    margin-top: 25px !important;
}

.top20 { 
    top: 10% !important;
    -webkit-transition: all 0.7s ease-out;
       -moz-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
         -o-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;
}

.topReset { 
    -webkit-transition: all 0.7s ease-in;
       -moz-transition: all 0.7s ease-in;
        -ms-transition: all 0.7s ease-in;
         -o-transition: all 0.7s ease-in;
            transition: all 0.7s ease-in;
}

.will-kit-form .gform_confirmation_wrapper > div {
    /*display:none !important;*/
    padding:25px;
}


@media screen and (max-width: 960px) {
    .imageBlk { padding: 0 10px !important; }
    .buttonBlk a { padding: 20px 50px }
    .imageBlk .wpb_text_column h3 {
        padding: 10px;
    }
}
/*Iphone fix*/
@media screen and (max-width: 1024px) {
    body.iphone.safari .fancybox-wrap.fancybox-mobile{
        position: fixed!important;
    }
}
@media screen and (max-width: 767px) {
    body.iphone.safari .fancybox-wrap.fancybox-mobile{
        position: fixed!important;
        top: 3%!important
    }   
}
@media screen and (min-width: 768px)  and (max-width: 1024px) {
    body.iphone.safari .fancybox-wrap.fancybox-mobile{
        position: fixed!important;
        top: 20%!important
    }   
}